<div class="col-12 container-box" style="margin: 0 auto;">
    <div class="row">
        <div class="col-sm-8">
            <p><span style="font-weight: bold;">Page name</span> / Section name</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8" style="background-color: #ffff; border-radius: 10px;">
            <div>
                <p style="color: #4F5D75;"><span class="font-weight-bold">Departments list</span> <span class="ml-2 mr-2">|</span> List of available departments</p>
            </div>

            <dx-data-grid #grid id="gridContainer" [dataSource]="departments" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="departmentName" caption="Department name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted"></dxi-column>
                <dxi-column dataField="active" caption="Available" dataType="boolean" alignment="center" [width]="200" cellTemplate="availableCellTemplate"></dxi-column>
                <dxi-column dataField="currentNumberOfPositions" caption="No. of positions" dataType="number" alignment="center" [width]="250"></dxi-column>

                <dxi-column type="buttons" caption="Options">
                    <dxi-button [onClick]="openUpdateDepartmentDialog" icon="fa fa-edit"></dxi-button>
                    <dxi-button [onClick]="opeDeleteDepartmentDialog" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                </dxi-column>

                <div *dxTemplate="let data of 'availableCellTemplate'">
                    <span *ngIf="data.data.active"><i class="fas fa-check text-success"></i></span>
                    <span *ngIf="!data.data.active"><i class="fas fa-times text-danger"></i></span>
                </div>

            </dx-data-grid>

            <!-- Departments Popups zone -->
            <dx-popup title="Update department details" [(visible)]="isUpdateDepartmentVisible" [width]="500" [height]="560">
                <div *dxTemplate="let data of 'content'">
                    <form [formGroup]="departmentUpdateForm" novalidate>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width:70%;">
                                <mat-label>Department name</mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="departmentName">
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <mat-label> Description </mat-label>
                                <div class="input-group">
                                    <textarea matInput formControlName="description" placeholder="Description here ..." style="min-height: 50px; max-height: 100px;"></textarea>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <mat-label>No. of positions</mat-label>
                                <div class="input-group">
                                    <input matInput type="number" formControlName="noOfPositions">
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-checkbox formControlName="availableDepartment" [checked]="isAvailableDepartment" [disabled]="false">Available</mat-checkbox>
                        </div>
                    </form>
                    <div style="float:right;">
                        <button mat-raised-button color="primary" (click)="onSaveDepartmentDetails()">
                    <i class="fas fa-save" style="color:white;"></i>
                    Save details
                  </button>
                        <button mat-raised-button class="ml-2" (click)="closeUpdateDepartmentPopup()">
                    Close
                  </button>
                    </div>
                </div>
            </dx-popup>

            <dx-popup [(visible)]="isDeleteDepartmentVisible" [width]="500" [height]="300">
                <div *dxTemplate="let data of 'content'">
                    <div class="content-popup-top">
                        <h5 class="mb-4 text-center">Are you sure you want to delete this record?</h5>
                        <div class="text-center">
                            <button mat-raised-button color="warn" (click)="onDeleteDepartment()"> <i class="fa fa-trash mr-1"></i>Yes</button>
                            <button class="ml-2" mat-raised-button (click)="closeDeleteDepartmentPopup()"> <i class="fa fa-times mr-1"></i>No</button>
                        </div>
                    </div>
                </div>
            </dx-popup>

            <dx-popup title="Add a new department" [(visible)]="isAddDepartmentVisible" [width]="500" [height]="500" [shading]="true" shadingColor="rgba(0, 0, 0, 0.2)">
                <div *dxTemplate="let data of 'content'">
                    <form #f="ngForm" (ngSubmit)="onSubmitDepartment(f)" [formGroup]="departmentDetails" novalidate>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 80%;">
                                <mat-label> Department name </mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="departmentName" [errorStateMatcher]="departmentMatcher">
                                </div>
                                <mat-hint>Department name here</mat-hint>
                                <mat-error *ngIf="departmentName!.hasError('minLength') && !departmentName!.hasError('required')">
                                    Department name cannot be less than <strong>2 characters</strong>
                                </mat-error>

                                <mat-error *ngIf="departmentName!.hasError('required')">
                                    Department name is <strong>required</strong>
                                </mat-error>

                                <mat-error *ngIf="departmentName!.hasError('maxLength') && !departmentName!.hasError('required')">
                                    Department name cannot be more than <strong>30 characters</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width:80%;">
                                <mat-label> Description </mat-label>
                                <div class="input-group">
                                    <textarea matInput placeholder="Ex. position is ..." formControlName="description" [errorStateMatcher]="departmentDescriptionMatcher" style="min-height:50px; max-height: 100px;"></textarea>
                                </div>
                                <mat-hint>Here you can type some details</mat-hint>
                                <mat-error *ngIf="descriptionDepartment!.hasError('required')">
                                    The department description is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group ml-5">
                            <p>Available department?</p>
                            <div class="input-group">
                                <mat-checkbox formControlName="availableDepartment" [checked]="isAvailableDepartment" [disabled]="false">Available</mat-checkbox>
                            </div>
                        </div>

                        <div style="float:right;">
                            <button mat-raised-button color="primary" class="mr-2"> Submit </button>
                            <button mat-raised-button (click)="closeAddDepartmentPopup()"> Cancel </button>
                        </div>
                    </form>
                </div>
            </dx-popup>



        </div>
        <div class="col-sm-2 ml-2" style="background-color: white; border-radius: 10px;">
            <div class="box-title mb-2">
                <p style="color: #4F5D75;"><span class="font-weight-bold">Options</span> - Add or export</p>
                <hr>
            </div>
            <div class="box-body">
                <button mat-raised-button (click)="openAddDepartmentDialog()" style="width: 200px; background-color: #EF8354; color: #333;"><i class="fa fa-plus mr-2"></i>Add a new department</button>
                <br>
                <button class="mt-3" mat-raised-button style="background-color: #2D3142; color: white; width: 200px;" (click)="onDonwloadDepartmentsExcel()"><i class="fas fa-file-excel mr-2"></i>Export departments data</button>
            </div>

            <div class="box-footer" style="position: absolute; bottom: 0;">
                <hr>
                <p style="color: #4F5D75;"><i class="fas fa-hard-hat mr-1"></i>In construction</p>
            </div>
        </div>

        <div class="col-sm-1 ml-2" style="background-color: #ffff; border-radius: 10px;">col-sm-1</div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-8" style="background-color: #ffff; border-radius: 10px;">
            <div>
                <p style="color: #4F5D75;"><span class="font-weight-bold">Positions list</span> <span class="ml-2 mr-2">|</span> List of available positions</p>
            </div>

            <dx-data-grid #grid id="gridContainer" [dataSource]="positions" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="positionName" caption="Position name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted"></dxi-column>
                <dxi-column dataField="department.departmentName" caption="Department" dataType="string" alignment="center" [width]="200"></dxi-column>
                <dxi-column dataField="availableForRecruting" caption="Available for recruiting" dataType="boolean" alignment="center" [width]="300" cellTemplate="availableCellTemplate"></dxi-column>
                <dxi-column dataField="noVacantPositions" caption="No. of vacant positions" dataType="number" alignment="center" [width]="250"></dxi-column>

                <dxi-column type="buttons" caption="Options">
                    <dxi-button [onClick]="openUpdateDialog" icon="fa fa-edit"></dxi-button>
                    <dxi-button [onClick]="openDeleteDialog" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                </dxi-column>

                <div *dxTemplate="let data of 'availableCellTemplate'">
                    <span *ngIf="data.data.availableForRecruting"><i class="fas fa-check text-success"></i></span>
                    <span *ngIf="!data.data.availableForRecruting"><i class="fas fa-times text-danger"></i></span>
                </div>

            </dx-data-grid>

            <!-- Positions Popup zone -->
            <dx-popup title="Update position details" [(visible)]="isUpdatePopupVisible" [width]="500" [height]="500">
                <div *dxTemplate="let data of 'content'">
                    <form [formGroup]="vacantForm" novalidate>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width:70%;">
                                <mat-label>Position name</mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="positionName">
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <mat-label>Department</mat-label>
                                <mat-select formControlName="department">
                                    <mat-option *ngFor="let department of departments" [value]="department.departmentId">
                                        {{department.departmentName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <mat-label>No. of vacant positions</mat-label>
                                <div class="input-group">
                                    <input matInput type="number" formControlName="noVacantPositions">
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-checkbox formControlName="availablePosition" [checked]="isAvailable" [disabled]="true">Available</mat-checkbox>
                        </div>
                    </form>
                    <div style="float:right;">
                        <button mat-raised-button color="primary" (click)="onSaveVacantUpdate()">
                    <i class="fas fa-save" style="color:white;"></i>
                    Save details
                  </button>
                        <button mat-raised-button class="ml-2" (click)="closePopup()">
                    Close
                  </button>
                    </div>
                </div>
            </dx-popup>

            <dx-popup [(visible)]="isDeletePopupVisibile" [width]="500" [height]="300">
                <div *dxTemplate="let data of 'content'">
                    <div class="content-popup-top">
                        <h5 class="mb-4 text-center">Are you sure you want to delete this record?</h5>
                        <div class="text-center">
                            <button mat-raised-button color="warn" (click)="onDelete()">Yes</button>
                            <button class="ml-2" mat-raised-button (click)="closeDeletePopup()">No</button>
                        </div>
                    </div>
                </div>
            </dx-popup>

            <dx-popup title="Add a new position" [(visible)]="isAddPopupVisible" [width]="500" [height]="550" [shading]="true" shadingColor="rgba(0, 0, 0, 0.2)">
                <div *dxTemplate="let data of 'content'">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="positionDetails" novalidate>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 80%;">
                                <mat-label> Position name </mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="positionName" [errorStateMatcher]="matcher">
                                </div>
                                <mat-hint>Position name here</mat-hint>
                                <mat-error *ngIf="positionName!.hasError('minLength') && !positionName!.hasError('required')">
                                    Position name cannot be less than <strong>2 characters</strong>
                                </mat-error>

                                <mat-error *ngIf="positionName!.hasError('required')">
                                    Position name is <strong>required</strong>
                                </mat-error>

                                <mat-error *ngIf="positionName!.hasError('maxLength') && !positionName!.hasError('required')">
                                    Position name cannot be more than <strong>30 characters</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 80%;">
                                <mat-label>Select a department from below</mat-label>
                                <div class="input-group">
                                    <mat-select formControlName="department" [errorStateMatcher]="selectionMatcher">
                                        <mat-option *ngFor="let department of departments" [value]="department.departmentId">
                                            {{department.departmentName}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <mat-hint>You must select an option</mat-hint>
                                <mat-error *ngIf="department!.hasError('required')">You must make a selection</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width:80%;">
                                <mat-label> Description </mat-label>
                                <div class="input-group">
                                    <textarea matInput placeholder="Ex. position is ..." formControlName="description" [errorStateMatcher]="descriptionMatcher"></textarea>
                                </div>
                                <mat-hint>Here you can type some details</mat-hint>
                                <mat-error *ngIf="description!.hasError('required')">
                                    The position description is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 80%;">
                                <mat-label>No. of available positions</mat-label>
                                <div class="input-group">
                                    <input type="number" matInput formControlName="noAvailablePositions" min="0" max="20" [errorStateMatcher]="availablePositionsMatcher">
                                </div>
                                <mat-hint>Select a number between 0 and 20</mat-hint>
                                <mat-error *ngIf="noAvailablePositions!.hasError('required')">
                                    The number of positions is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div style="float:right;">
                            <button mat-raised-button color="primary" class="mr-2"> <i class="far fa-save mr-1"></i> Submit </button>
                            <button mat-raised-button (click)="closeAddPositionPopoup()"> <i class="fas fa-times mr-1"></i> Cancel </button>
                        </div>
                    </form>
                </div>
            </dx-popup>
        </div>

        <div class="col-sm-2 ml-2" style="background-color: white; border-radius: 10px;">
            <div class="box-title mb-2">
                <p style="color: #4F5D75;"><span class="font-weight-bold">Options</span> - Add or export</p>
                <hr>
            </div>
            <div class="box-body">
                <button mat-raised-button (click)="openAddPositionDialog()" style="width: 200px; background-color: #EF8354; color: #333;"><i class="fa fa-plus mr-2"></i>Add a new position</button>
                <br>
                <button class="mt-3" mat-raised-button style="background-color: #2D3142; color: white; width: 200px;" (click)="exportData()"><i class="fas fa-file-excel mr-2"></i>Export positions data</button>
            </div>

            <div class="box-footer" style="position: absolute; bottom: 0;">
                <hr>
                <p style="color: #4F5D75;"><i class="fas fa-hard-hat mr-1"></i>In construction</p>
            </div>
        </div>

    </div>
    <!-- <div class="row">
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
      <div class="col-sm">col-sm</div>
  </div> -->
</div>