<dx-data-grid #gridParticipants id="gridContainer" [dataSource]="rolesByUser" [showBorders]="true" [columnAutoWidth]="true">

    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>

    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column caption="Name" dataType="string" aligment="center" cssClass="cell-highlighted" cellTemplate="nameTemplate"></dxi-column>
    <dxi-column dataField="email" caption="Email address" dataType="string" alignment="center"></dxi-column>
    <!-- <dxi-column dataField="firstName" caption="name" dataType="string" alignment="center" [width]="250"></dxi-column> -->
    <!-- <dxi-column dataField="normalizedName" caption="Normalized name" dataType="string" alignment="center" [width]="250"></dxi-column> -->
    <!-- <dxi-column dataField="interviewScheduledOn" caption="Interview scheduled on" dataType="date" alignment="center" [width]="250"></dxi-column> -->
    <!-- <dxi-column dataField="interviewScheduledFor" caption="Interview scheduled for" dataType="string" alignment="center" [width]="250"></dxi-column> -->
    <!-- <dxi-column dataField="attendedOn" caption="Attended on" dataType="date" alignment="center" [width]="250"></dxi-column> -->

    <dxi-column type="buttons" caption="Options">
        <!-- <dxi-button [onClick]="openUserInRoleRemoval" icon="fa fa-edit"></dxi-button> -->
        <dxi-button [onClick]="openUserInRoleRemoval" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
    </dxi-column>

    <div *dxTemplate="let data of 'nameTemplate'">
        {{data.data.firstName}} {{data.data.lastName}}
    </div>

</dx-data-grid>

<!-- Popups zone -->

<dx-popup [(visible)]="isRemovalFromRoleAvailable" [width]="550" [height]="300">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <h5>Are you sure you want to remove the selected user from role?</h5>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <button mat-raised-button class="mr-2" color="warn" (click)="removeUserInRole()"><i class="fa fa-trash mr-1"></i>Yes</button>
                        <button mat-raised-button><i class=" fa fa-times mr-1" (click)="closeUserInRoleRemoval()"></i>No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dx-popup>