<div class="col-12">
    <div class="row">
        <div class="col-sm-4 text-center" style="margin: 0 auto;">
            <h4 class="font-weight-bold"> Reset password </h4>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-3 text-center" style="margin: 0 auto;">
            <div class="container" style="background-color: white; border-radius: 5px; border: 1px solid #000;">
                <form [formGroup]="passwordResetFormGroup">
                    <div class="form-group mt-2">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> E-mail address </mat-label>
                            <div class="input-group">
                                <input matInput formControlName="email" readonly>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="form-group mt-2">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> New password </mat-label>
                            <div class="input-group">
                                <input matInput formControlName="password" placeholder="New password">
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="form-group mt-2">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Confirm new password </mat-label>
                            <div class="input-group">
                                <input matInput formControlName="confirmPassword" placeholder="Confirm password">
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="container-button" style="width: 100%; height: 50px;">
                        <button mat-raised-button color="primary" (click)="resetPassword()"> Reset password </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>