<div class="container col-9">
    <div class="container">
        <h3 class="text-center">Available interviews</h3>
        <hr class="mt-3 mb-1" style="width: 60%; margin: 0 auto;">
        <p class="mb-5 text-center">List of all interviews that are available in database</p>
    </div>

    <div class="container-options">
        <button mat-raised-button class= "mb-3" style="float:right; font-weight: bold;" (click)="exportData()">Export data</button>
    </div>

    <!-- <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Candidate complete name</th>
                <th>Applied position name</th>
                <th>Interview scheduled date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let availableInterview of availableInterviews">
                <td><span>{{availableInterview.candidateFirstName}} {{availableInterview.candidateLastName}}</span></td>
                <td><span>{{availableInterview.positionName}}</span></td>
                <td><span>{{availableInterview.interviewDate | date: 'dd/MM/yyyy HH:mm:ss'}}</span></td>
                <td class="text-center">
                    <button mat-raised-button class="mr-1" color="primary" (click)="openInterviewDetails(contentDetails, availableInterview)">
                      <i class="far fa-file-alt mr-1"></i>More details</button>
                    <button mat-raised-button class="mr-1" style="background-color: gold;" (click)="openParticipantsListView(contentParticipantView, availableInterview)">
                      <i class="fas fa-vote-yea mr-1"></i>Participants</button>
                    <button mat-raised-button class="mr-1" color="warn" (click)="openRemovalRequestDetails(contentRemovalRequest, availableInterview)">
                      <i class="fa fa-trash mr-1"></i>Request a removal</button>
                    <button mat-raised-button class="mr-1" style="background-color: black; color:white;" (click)="openChangeRequestDetails(contentRequestChange, availableInterview)">
                      <i class="fas fa-users-cog mr-1"></i>Request a change</button>
                  </td>
            </tr>
        </tbody>
    </table> -->

    <div class="container-search">
        <mat-form-field class="mr-3" style="float:right;">
            <mat-icon matSuffix>search</mat-icon>
            <input matInput id="typer" (keyup)="applyFilter($event.target)" placeholder="Search">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="completeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="completeName"> Candidate name </th>
            <td mat-cell *matCellDef="let availableInterview"> {{availableInterview.candidateFirstName}} {{availableInterview.candidateLastName}} </td>
        </ng-container>

        <ng-container matColumnDef="completeNameFilter">
            <th mat--header-cell *matHeaderCellDef>
                <mat-form-field class="ml-3">
                    <input matInput (keyup)="applyNameFilter($event.target)" placeholder="Name filter">
                </mat-form-field>
                <hr>
            </th>
        </ng-container>

        <ng-container matColumnDef="positionName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="positionName"> Applied for position </th>
            <td mat-cell *matCellDef="let availableInterview"> {{availableInterview.positionName}} </td>
        </ng-container>

        <ng-container matColumnDef="positionNameFilter">
            <th mat--header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input matInput (keyup)="applyPositionFilter($event.target)" placeholder="Position filter">
                </mat-form-field>
                <hr>
            </th>
        </ng-container>

         <ng-container matColumnDef="interviewDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="interviewDate"> Interview scheduled on </th>
            <td mat-cell *matCellDef="let availableInterview"> {{availableInterview.interviewDate | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="interviewDateFilter">
            <th mat--header-cell *matHeaderCellDef>
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate [(ngModel)]="fromDate" placeholder="Start date" #dateRangeStart>
                      <input matEndDate [(ngModel)]="toDate" placeholder="End date" #dateRangeEnd
                        (dateChange)="applySubmissionDateFilter(dateRangeStart, dateRangeEnd)" disabled>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix (click)="resetForm()">
                        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <hr>
            </th>
        </ng-container>

        <ng-container matColumnDef="moreDetails">
            <th mat-header-cell *matHeaderCellDef>Details</th>
            <th mat-cell *matCellDef="let availableInterview">
                <button mat-icon-button class="mr-1" color="primary" (click)="openInterviewDetails(contentDetails, availableInterview)">
                    <i class="far fa-file-alt mr-1"></i></button>
            </th>
        </ng-container>

        <ng-container matColumnDef="participants">
            <th mat-header-cell *matHeaderCellDef>Participants</th>
            <th mat-cell *matCellDef="let availableInterview">
                <button mat-icon-button class="ml-2" (click)="openParticipantsListView(contentParticipantView, availableInterview)">
                    <i class="fas fa-vote-yea mr-1"></i></button>
            </th>
        </ng-container>

        <ng-container matColumnDef="removalRequest">
            <th mat-header-cell *matHeaderCellDef>Removal request</th>
            <th mat-cell *matCellDef="let availableInterview">
                <button mat-icon-button class="ml-4" color="warn" (click)="openRemovalRequestDetails(contentRemovalRequest, availableInterview)">
                    <i class="fa fa-trash mr-1"></i></button>
            </th>
        </ng-container>

        <ng-container matColumnDef="changeRequest">
            <th mat-header-cell *matHeaderCellDef> Change request </th>
            <th mat-cell *matCellDef="let availableInterview">
                <button mat-icon-button class="ml-4" (click)="openChangeRequestDetails(contentRequestChange, availableInterview)">
                    <i class="fas fa-users-cog mr-1"></i></button>
            </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsFilters"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator (page)="pageChangeEvent($event)" [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>

<!-- More details form for Interview tracking -->
<ng-template #contentDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Interview details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup] = "interviewDetails">
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate complete name</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateCompleteNameInterview" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Applied position</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="appliedPositionInterview" style="padding: 10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate current status</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateStatusInterview" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Scheduled date</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="scheduledDateInterview" style="padding: 10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Submission date</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="submissionDateInterview" style="padding: 10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Interview scheduled by</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="interviewScheduledBy" style="padding: 10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- Change interview details request form -->
<ng-template #contentRequestChange let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Request form</h4>
        <button id="contentRequestChangeDismissBtn" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup] = "interviewRequestDetails">
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Created by</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="creatorCompleteNameRequest" class="form-control" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Reason</mat-label>
                    <div class="input-group">
                        <textarea matInput formControlName="changeInterviewDetailsReasonRequest" class="form-control" style="padding: 10px;"></textarea>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" (click)="sendInterviewChangeRequest()">Request a change</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- Interview removal request -->
<ng-template #contentRemovalRequest let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Request form</h4>
        <button id="contentRemovalInterviewRequestBtn" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup] = "interviewRemovalRequest">
            <div class="container-request-1">
                <div class="container-request-title text-center">
                    <h5>Make a request to the recruiter to remove the interview</h5>
                    <p>*Be aware that this request is for typical reasons, not by errors</p>
                </div>
                <div class="form-group text-center">
                    <mat-form-field style="width: 60%;" appearance="outline">
                        <mat-label>Created by</mat-label>
                        <div class="input-group">
                            <input matInput formControlName="creatorCompleteNameRemovalRequest" style="padding:10px;" readonly>
                        </div>
                    </mat-form-field>
                </div>
                <div class="form-group text-center">
                    <mat-form-field style="width: 60%;" appearance="outline">
                        <mat-label>Reason</mat-label>
                        <div class="input-group">
                            <textarea matInput formControlName="removalInterviewRequestReason" style="padding: 10px;"></textarea>
                        </div>
                    </mat-form-field>
                </div>
                <div class="form-group text-center mb-4">
                    <button mat-raised-button color="primary" (click)="sendInterviewRemovalRequestRecruiter()">Request a removal to recruiter</button>
                </div>
            </div>
            <hr>
            <div class="container-request-2">
                <div class="container-request-title text-center">
                    <h5>Make a request to the administrators to remove the interview</h5>
                    <p>*Be aware that this request is for special reasons, like errors</p>
                </div>
                <div class="request-container text-center">
                    <button mat-raised-button color="primary" (click)="sendInterviewSpecialRemovalRequest()">Request a removal to admins</button>
                </div>
            </div>
            
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- View current interview participants (cards view) -->
<ng-template #contentParticipantView let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">See the participants for the current interview</h4>
      <button id="contentParticipantCloseBtn" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="max-height: 350px; overflow:scroll;">
         <div class="card-wrapper">
           <div *ngFor="let availableParticipant of availableParticipants">
            <igx-card class="mt-3">
              <igx-card-header>
                <h3 igxCardHeaderTitle>{{availableParticipant.firstName}} {{availableParticipant.lastName}}</h3>
                <!-- <h5 igxCardHeaderSubtitle>{{availableParticipant.position.positionName}}</h5> -->
                <h5 igxCardHeaderSubtitle>Attended time: {{availableParticipant.attendanceDate | date: 'dd/MM/yyyy HH:mm:ss'}}</h5>
                <button mat-mini-fab color="warn" class="mt-2"><i class="far fa-minus-square"></i></button>
              </igx-card-header>
            </igx-card>
           </div>
         </div>
        </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>