mat-form-field {
    width: 80%;
}

.input-group {
    margin: 0 auto;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 9999 !important;
}

textarea {
    min-height: 50px;
    max-height: 100px;
}