<div class="col-12">
    <div class="row">
        <div class="col-sm-2">
            <p><span class="font-weight-bold">Page name</span> / Section name</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" style="background-color: white; border-radius: 10px;">
            <p style="color: #8e939c;"><span class="font-weight-bold">Employee list</span> | List of all available employee in database</p>

            <dx-data-grid #grid id="gridContainer" [dataSource]="availableEmployees" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column caption="Name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted" cellTemplate="nameTemplate"></dxi-column>
                <dxi-column dataField="dateOfBirth" caption="Birth date" dataType="date" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="address" caption="Home address" dataType="string" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="email" caption="E-mail address" dataType="string" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="phoneNumber" caption="Phone no." dataType="string" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="position.positionName" caption="Occupied position" dataType="string" alignment="center" [width]="250"></dxi-column>

                <dxi-column type="buttons" caption="Options">
                    <dxi-button [onClick]="openUpdatePopup" icon="fa fa-edit"></dxi-button>
                    <dxi-button [onClick]="openDeleteEmployeePopup" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                </dxi-column>

                <div *dxTemplate="let data of 'nameTemplate'">
                    {{data.data.firstName}} {{data.data.lastName}}
                </div>

            </dx-data-grid>

            <!-- Employee zone - Popups zone -->
            <dx-popup title="Update employee details" [(visible)]="isAvailableEmployeeUpdate" [width]="600" [height]="470">
                <div *dxTemplate="let data of 'content'">
                    <form [formGroup]="employeeUpdateForm" novalidate>
                        <mat-tab-group>
                            <mat-tab label="Personal details">
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> First name </mat-label>
                                                <div class="input-group">
                                                    <input matInput type="text" formControlName="firstName">
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> Last name </mat-label>
                                                <div class="input-group">
                                                    <input matInput type="text" formControlName="lastName">
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> Birth date </mat-label>
                                                <input matInput [matDatepicker]="picker" formControlName="birthDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker [startAt]="startBirthDate"></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-7">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> Home address </mat-label>
                                                <div class="input-group">
                                                    <input matInput type="text" formControlName="address">
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Account details">
                                <div class="col-12">
                                    <div class="row mt-3">
                                        <div class="col-sm-8">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> E-mail address </mat-label>
                                                <div class="input-group">
                                                    <input matInput type="text" formControlName="email">
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> Phone number </mat-label>
                                                <div class="input-group">
                                                    <input matInput type="text" formControlName="phoneNo">
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> Position </mat-label>
                                                <mat-select formControlName="position">
                                                    <mat-option *ngFor="let position of availablePositions" [value]="position.positionId">
                                                        {{position.positionName}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> Security question </mat-label>
                                                <mat-select formControlName="securityQuestion">
                                                    <mat-option value="Nothing selected yet"> Nothing selected yet </mat-option>
                                                    <mat-option value="What is your Birthdate?">What is your Birthdate?</mat-option>
                                                    <mat-option value="What is Your old Phone Number">What is Your old Phone Number?</mat-option>
                                                    <mat-option value="What is your Pet Name?">What is your Pet Name?</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">

                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label> Answer </mat-label>
                                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="answer">
                                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">

                                        </div>
                                        <div class="col-sm-6 mb-1" style="float: right;">
                                            <div style="float:right;">
                                                <button mat-raised-button color="primary" (click)="sendEmployeeUpdate()">
                                                    <i class="fas fa-save" style="color:white;"></i>
                                                    Save
                                                </button>
                                                <button mat-raised-button class="ml-2" (click)="closeEmployeeUpdatePopup()">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </form>
                </div>
            </dx-popup>

            <dx-popup [(visible)]="isDeleteEmployeeAvailable" [width]="500" [height]="300">
                <div *dxTemplate="let data of 'content'">
                    <div class="content-popup-top">
                        <h5 class="mb-4 text-center"> Are you sure you want to delete this record? </h5>
                        <div class="text-center">
                            <button mat-raised-button color="warn" (click)="sendOnDeleteEmployee()"> <i class="fa fa-trash mr-1"></i> Yes </button>
                            <button class="ml-2" mat-raised-button (click)="closeDeleteEmployeePopup()"> <i class="fa fa-times mr-1"></i> No </button>
                        </div>
                    </div>
                </div>
            </dx-popup>

        </div>
        <div class="col-sm-2 ml-2" style="background-color: white; border-radius: 10px;">
            <div class="box-title mb-2">
                <p style="color: #4F5D75;"><span class="font-weight-bold">Admin options</span> - Reset, export, remove</p>
                <hr>
            </div>
            <div class="box-body">
                <button mat-raised-button color="primary" style="width: 200px;" (click)="openUserAddRolePopup()"><i class="fas fa-user-tag mr-2"></i>Add user role</button>
                <br>
                <button mat-raised-button class="mt-3" style="width: 200px; background-color: #EF8354; color: #333;" (click)="openResetPassword()"><i class="fa fa-plus mr-2"></i> Reset all users password</button>
                <br>
                <button class="mt-3" mat-raised-button style="background-color: #2D3142; color: white; width: 200px;" (click)="exportEmployeesData()"><i class="fas fa-file-excel mr-2"></i>Export employees data</button>
                <br>
                <button class="mt-3" mat-raised-button style="background-color: red; color: white; width: 200px;" (click)="openRemoveEmployeesPopup()"><i class="fa fa-trash mr-2"></i>Remove all employees</button>
            </div>

            <div class="box-footer" style="position: absolute; bottom: 0;">
                <p style="color: #4F5D75;"><i class="fas fa-hard-hat mr-1"></i>In construction</p>
            </div>
        </div>
    </div>
    <br>
    <mat-tab-group>
        <mat-tab label="{{userOptions}}">
            <div class="col-12">
                <br>
                <div class="row">
                    <div class="col-sm-10">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <i class="fas fa-user-alt-slash mt-1 mr-2"></i>Unretrieved users
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="row ml-1">
                                    <div class="col-sm-8" style="background-color: #212529; border-radius: 10px;">

                                        <p style="color: #fff;"><span class="font-weight-bold">Not retrieved user list</span> | List of all available unretrieved users in database</p>

                                        <dx-data-grid #gridUnretrieved id="gridContainer" [dataSource]="notRetrievedUsers" [showBorders]="true" [columnAutoWidth]="true">

                                            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                                            <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>

                                            <dxo-filter-row [visible]="true"></dxo-filter-row>

                                            <dxi-column caption="Name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted" cellTemplate="nameTemplate"></dxi-column>
                                            <dxi-column dataField="dateOfBirth" caption="Birth date" dataType="date" alignment="center" [width]="250"></dxi-column>
                                            <dxi-column dataField="address" caption="Home address" dataType="string" alignment="center" [width]="250"></dxi-column>
                                            <dxi-column dataField="email" caption="E-mail address" dataType="string" alignment="center" [width]="250"></dxi-column>
                                            <dxi-column dataField="phoneNumber" caption="Phone no." dataType="string" alignment="center" [width]="250"></dxi-column>

                                            <dxi-column type="buttons" caption="Options">
                                                <dxi-button [onClick]="openAllocationPopup" icon="fa fa-edit"></dxi-button>
                                                <dxi-button [onClick]="openRejectionPopup" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                                            </dxi-column>

                                            <div *dxTemplate="let data of 'nameTemplate'">
                                                {{data.data.firstName}} {{data.data.lastName}}
                                            </div>

                                        </dx-data-grid>
                                        <br>
                                    </div>
                                    <div class="col-sm-3 ml-2 " style="background-color: white; border-radius: 10px; ">
                                        <div class="box-title mb-2">
                                            <p style="color: #4F5D75;"><span class="font-weight-bold">Not retrieved users options</span> - Reset, export, remove</p>
                                            <hr>
                                        </div>
                                        <div class="box-body">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <button mat-raised-button color="primary" style="width: 150px;" (click)="openAssignMultiplePopup()"><i class="fas fa-user-tag mr-1"></i> <span class="mt-4"> Assign position </span> </button>
                                                        <br>
                                                        <button mat-raised-button class="mt-3" style="width: 150px; background-color: #EF8354; color: #333;" (click)="openNonRetrievedPasswordPopoup()"><i class="fas fa-redo-alt mr-1"></i> <span class="mt-4">Reset passwords</span> </button>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <button mat-raised-button style="background-color: #2D3142; color: white; width: 150px;"><i class="fas fa-file-excel mr-1"></i> <span class="mt-4"> Export </span> </button>
                                                        <br>
                                                        <button class="mt-3" mat-raised-button style="background-color: #CC2936; color: white; width: 150px;" (click)="openUnretrievedDelete()"><i class="fa fa-trash mr-1"></i> <span class="mt-4"> Remove all </span> </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="box-footer" style="position: absolute; bottom: 0;">
                                            <p style="color: #4F5D75;"><i class="fas fa-hard-hat mr-1"></i>In construction</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-10">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <i class="fas fa-users mt-1 mr-2"></i> Participants
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="row ml-1">
                                    <div class="col-sm-8" style="background-color: #212529; border-radius: 10px;">

                                        <p style="color: #fff;"><span class="font-weight-bold">Participants list</span> | List of all available participants in database</p>

                                        <dx-data-grid #gridParticipants id="gridContainer" [dataSource]="participants" [showBorders]="true" [columnAutoWidth]="true">

                                            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                                            <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>

                                            <dxo-filter-row [visible]="true"></dxo-filter-row>

                                            <dxi-column caption="Name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted" cellTemplate="nameTemplate"></dxi-column>
                                            <dxi-column dataField="positionName" caption="Assigned to position" dataType="string" alignment="center" [width]="250"></dxi-column>
                                            <dxi-column dataField="email" caption="Email address" dataType="string" alignment="center" [width]="250"></dxi-column>
                                            <dxi-column dataField="phoneNumber" caption="Phone number" dataType="string" alignment="center" [width]="250"></dxi-column>
                                            <dxi-column dataField="interviewScheduledOn" caption="Interview scheduled on" dataType="date" alignment="center" [width]="250"></dxi-column>
                                            <dxi-column dataField="interviewScheduledFor" caption="Interview scheduled for" dataType="string" alignment="center" [width]="250"></dxi-column>
                                            <dxi-column dataField="attendedOn" caption="Attended on" dataType="date" alignment="center" [width]="250"></dxi-column>

                                            <dxi-column type="buttons" caption="Options">
                                                <dxi-button [onClick]="openUpdateParticipantPopup" icon="fa fa-edit"></dxi-button>
                                                <dxi-button [onClick]="openRemovalParticipantPopup" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                                            </dxi-column>

                                            <div *dxTemplate="let data of 'nameTemplate'">
                                                {{data.data.firstName}} {{data.data.lastName}}
                                            </div>

                                        </dx-data-grid>
                                        <br>
                                    </div>
                                    <div class="col-sm-3 ml-2 " style="background-color: white; border-radius: 10px; ">
                                        <div class="box-title mb-2">
                                            <p style="color: #4F5D75;"><span class="font-weight-bold">Participants options</span> - lorem ipsum</p>
                                            <hr>
                                        </div>
                                        <div class="box-body">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <button mat-raised-button color="primary" style="width: 160px;" (click)="openAssignationPopup()"><i class="fas fa-desktop mr-1"></i> <span class="mt-4"> Assign interview </span> </button>
                                                        <!-- <br>
                                                        <button mat-raised-button class="mt-3" style="width: 150px; background-color: #EF8354; color: #333;" (click)="openNonRetrievedPasswordPopoup()"><i class="fas fa-redo-alt mr-1"></i> <span class="mt-4">Reset passwords</span> </button> -->
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <!-- <button mat-raised-button style="background-color: #2D3142; color: white; width: 150px;"><i class="fas fa-file-excel mr-1"></i> <span class="mt-4"> Export </span> </button>
                                                        <br> -->
                                                        <button mat-raised-button style="background-color: #CC2936; color: white; width: 150px;" (click)="openRemoveAllParticipantionsPopup()"><i class="fa fa-trash mr-1"></i> <span class="mt-4"> Remove all </span> </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="box-footer" style="position: absolute; bottom: 0;">
                                            <p style="color: #4F5D75;"><i class="fas fa-hard-hat mr-1"></i>In construction</p>
                                        </div>
                                    </div>

                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Roles">
            <app-roles></app-roles>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- Not retrieved user popups zone -->

<dx-popup title="Allocate user to position" [(visible)]="isAvailableAllocation" [width]="500" [height]="350">
    <div *dxTemplate="let data of 'content'">
        <form [formGroup]="userAllocationForm" novalidate>
            <div class="form-group text-center">
                <mat-form-field appearance="outline">
                    <mat-label> User complete name </mat-label>
                    <div class="input-group">
                        <input matInput type="text" formControlName="username" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group text-center">
                <mat-form-field appearance="outline">
                    <mat-label> Allocate to position </mat-label>
                    <div class="input-group">
                        <mat-select formControlName="position">
                            <mat-option *ngFor="let position of filteredPositions" [value]="position.positionId">
                                {{position.positionName}}
                            </mat-option>
                        </mat-select>
                    </div>
                </mat-form-field>
            </div>
        </form>
        <div style="float:right;">
            <button mat-raised-button color="primary" (click)="onSaveAllocation()">
                                                        <i class="fas fa-save" style="color:white;"></i>
                                                        Save
                                                    </button>
            <button mat-raised-button class="ml-2" (click)="closeAllocationPopup()">
                                                        Close
                                                    </button>
        </div>
    </div>
</dx-popup>

<dx-popup title="Rejection form" [(visible)]="isAvailableRejection" [width]="500" [height]="600">
    <div *dxTemplate="let data of 'content'">
        <form [formGroup]="userRejectionForm" novalidate>
            <div class="form-group text-center">
                <mat-form-field appearance="outline">
                    <mat-label> User complete name </mat-label>
                    <div class="input-group">
                        <input matInput type="text" formControlName="username" readonly>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline">
                    <mat-label>E-mail address</mat-label>
                    <div class="input-group">
                        <input matInput type="text" formControlName="email">
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline">
                    <mat-label>Phone number</mat-label>
                    <div class="input-group">
                        <input matInput type="text" formControlName="phoneNumber">
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline">
                    <mat-label>Reason</mat-label>
                    <div class="input-group">
                        <textarea matInput formControlName="reason" placeholder="Reason here..."></textarea>
                    </div>
                </mat-form-field>
            </div>
        </form>
        <div style="float:right;">
            <button mat-raised-button color="primary" (click)="onSaveRejection()">
                                                      <i class="fas fa-save" style="color:white;"></i>
                                                      Send
                                                  </button>
            <button mat-raised-button class="ml-2" (click)="closeRejectionPopup()">
                                                      Close
                                                  </button>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isResetPasswordAvailable" [width]="550" [height]="510">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <form [formGroup]="resetPasswordFormGroup" novalidate>
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="fas fa-file-export mr-1"></i>
                            <span>Classic passwords requests</span>
                        </ng-template>
                        <div class="popup-title">
                            <h5 class="text-center">Reset all users password</h5>
                            <p class="text-center">Provide a reason for password change request</p>
                        </div>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline">
                                <mat-label> Reason </mat-label>
                                <div class="input-group">
                                    <textarea matInput formControlName="reason" [errorStateMatcher]="reasonMatcher" placeholder="Provide a reason here ..."></textarea>
                                </div>
                                <mat-error *ngIf="resetPasswordFormGroup.get('reason')!.hasError('required')!">
                                    Reason is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="resetPasswordFormGroup.get('reason')!.hasError('minlength')! && !resetPasswordFormGroup.hasError('required')!">
                                    The reason must have more than <strong>8 characters</strong>
                                </mat-error>
                                <mat-error *ngIf="resetPasswordFormGroup.get('reason')!.hasError('maxlength')! && !resetPasswordFormGroup.hasError('required')!">
                                    The reason must have less than <strong>350 characters</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="text-center mb-1">
                            <button mat-raised-button color="primary" (click)="sendPasswordRequests()"><i class="fas fa-paper-plane mr-1"></i>Send requests</button>
                            <button mat-raised-button class="ml-2" (click)="closePasswordReset()"><i class="fa fa-times mr-1"></i>Close</button>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="fas fa-cogs mr-1"></i>
                            <span>Auto generation of passwords</span>
                        </ng-template>
                        <div class="popup-title">
                            <h5 class="text-center">Reset all users password</h5>
                            <p class="text-center">Provide a reason for password change request</p>
                        </div>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline">
                                <mat-label> Reason </mat-label>
                                <div class="input-group">
                                    <textarea matInput formControlName="reason" [errorStateMatcher]="reasonMatcher" placeholder="Provide a reason here ..."></textarea>
                                </div>
                                <mat-error *ngIf="resetPasswordFormGroup.get('reason')!.hasError('required')!">
                                    Reason is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="resetPasswordFormGroup.get('reason')!.hasError('minlength')! && !resetPasswordFormGroup.hasError('required')!">
                                    The reason must have more than <strong>8 characters</strong>
                                </mat-error>
                                <mat-error *ngIf="resetPasswordFormGroup.get('reason')!.hasError('maxlength')! && !resetPasswordFormGroup.hasError('required')!">
                                    The reason must have less than <strong>350 characters</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="text-center mb-1">
                            <button mat-raised-button style="background-color: lightgrey;" (click)="sendAutoPasswordsRequests()"><i class="fas fa-key mr-1"></i>Generate passwords</button>
                            <button mat-raised-button class="ml-2" (click)="closePasswordReset()"><i class="fa fa-times mr-1"></i>Close</button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isRemoveEmployeesAvailable" [width]="550" [height]="300">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <h5>Are you sure you want to remove all employees?</h5>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <button mat-raised-button class="mr-2" color="warn" (click)="removeEmployees()"><i class="fa fa-trash mr-1"></i>Yes</button>
                        <button mat-raised-button (click)="closeEmployeesPopup()"><i class=" fa fa-times mr-1 "></i>No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isAddUserRoleAvailable" [width]="550" [height]="400">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top text-center">
            <form [formGroup]="roleAddFormGroup" novalidate>
                <h5 class="text-center">Add a new role to the application</h5>
                <p class="text-center">*Fill the role name in order to add it to the application</p>
                <mat-form-field appearance="outline" style="width: 60%;">
                    <mat-label> Role name </mat-label>
                    <div class="input-group">
                        <input matInput #roleName formControlName="roleName" [errorStateMatcher]="roleMatcher">
                    </div>
                    <mat-hint align="start"><strong>Type the role name inside the box</strong></mat-hint>
                    <mat-hint align="end">{{roleName.value.length}} / 20</mat-hint>
                    <mat-error *ngIf="roleAddFormGroup.get('roleName')!.hasError('minlength')! && !roleAddFormGroup.hasError('required')!">
                        The role name cannot have less than <strong>3 characters</strong>
                    </mat-error>
                    <mat-error *ngIf="roleAddFormGroup.get('roleName')!.hasError('required')!">
                        The role name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="roleAddFormGroup.get('roleName')!.hasError('maxlength')! && !roleAddFormGroup.hasError('required')!">
                        The role name cannot have more than <strong>20 characters</strong>
                    </mat-error>
                </mat-form-field>
                <div class="buttons mt-2">
                    <button mat-raised-button color="primary" class="mr-2" (click)="addUserRole()"><i class="fa fa-plus mr-1"></i>Add new role</button>
                    <button mat-raised-button><i class="fa fa-times mr-1" (click)="closeUserAddPopup()"></i>Close</button>
                </div>
            </form>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isAddMultipleUsersAvailable" [width]="550" [height]="400">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top text-center">
            <form [formGroup]="assignMultipleFormGroup" novalidate>
                <h5 class="text-center">Assign multiple users to position</h5>
                <p class="text-center">*Select from below to what position do you want to assign the users</p>
                <mat-form-field appearance="outline" style="width: 60%;">
                    <mat-label> Role name </mat-label>
                    <div class="input-group">
                        <mat-select formControlName="position" [errorStateMatcher]="multiplePositionMatcher">
                            <mat-option *ngFor="let position of availablePositions" [value]="position.positionId">
                                {{position.positionName}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <mat-hint align="start"><strong>Select one position from list</strong></mat-hint>
                    <mat-error *ngIf="assignMultipleFormGroup.get('position')!.hasError('required')!">
                        Position is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <div class="buttons mt-2">
                    <button mat-raised-button color="primary" class="mr-2" (click)="assignUnretrieved()"><i class="fa fa-plus mr-1"></i> Assign to position </button>
                    <button mat-raised-button (click)="closeMultipleUserAllocation()"><i class="fa fa-times mr-1"></i> Close </button>
                </div>
            </form>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isResetUnretrievedAvailable" [width]="550" [height]="510">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <form [formGroup]="resetUnretrievedPasswordFromGroup" novalidate>
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="fas fa-file-export mr-1"></i>
                            <span>Classic passwords requests</span>
                        </ng-template>
                        <div class="popup-title">
                            <h5 class="text-center">Reset all unretrieved users password</h5>
                            <p class="text-center">Provide a reason for password change request</p>
                        </div>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline">
                                <mat-label> Reason </mat-label>
                                <div class="input-group">
                                    <textarea matInput formControlName="reason" [errorStateMatcher]="reasonMatcher" placeholder="Provide a reason here ..."></textarea>
                                </div>
                                <mat-error *ngIf="resetUnretrievedPasswordFromGroup.get('reason')!.hasError('required')!">
                                    Reason is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="resetUnretrievedPasswordFromGroup.get('reason')!.hasError('minlength')! && !resetUnretrievedPasswordFromGroup.hasError('required')!">
                                    The reason must have more than <strong>8 characters</strong>
                                </mat-error>
                                <mat-error *ngIf="resetUnretrievedPasswordFromGroup.get('reason')!.hasError('maxlength')! && !resetUnretrievedPasswordFromGroup.hasError('required')!">
                                    The reason must have less than <strong>350 characters</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="text-center mb-1">
                            <button mat-raised-button color="primary" (click)="sendPasswordRequestsUnretrieved()"><i class="fas fa-paper-plane mr-1"></i>Send requests</button>
                            <button mat-raised-button class="ml-2" (click)="closeNonRetrievedPasswordPopup()"><i class="fa fa-times mr-1"></i>Close</button>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="fas fa-cogs mr-1"></i>
                            <span>Auto generation of passwords</span>
                        </ng-template>
                        <div class="popup-title">
                            <h5 class="text-center">Reset all users password</h5>
                            <p class="text-center">Provide a reason for password change request</p>
                        </div>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline">
                                <mat-label> Reason </mat-label>
                                <div class="input-group">
                                    <textarea matInput formControlName="reason" [errorStateMatcher]="reasonMatcher" placeholder="Provide a reason here ..."></textarea>
                                </div>
                                <mat-error *ngIf="resetUnretrievedPasswordFromGroup.get('reason')!.hasError('required')!">
                                    Reason is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="resetUnretrievedPasswordFromGroup.get('reason')!.hasError('minlength')! && !resetUnretrievedPasswordFromGroup.hasError('required')!">
                                    The reason must have more than <strong>8 characters</strong>
                                </mat-error>
                                <mat-error *ngIf="resetUnretrievedPasswordFromGroup.get('reason')!.hasError('maxlength')! && !resetUnretrievedPasswordFromGroup.hasError('required')!">
                                    The reason must have less than <strong>350 characters</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="text-center mb-1">
                            <button mat-raised-button style="background-color: lightgrey;" (click)="sendAutogeneratePasswordsUnretrieved()"><i class="fas fa-key mr-1"></i>Generate passwords</button>
                            <button mat-raised-button class="ml-2" (click)="closeNonRetrievedPasswordPopup()"><i class="fa fa-times mr-1"></i>Close</button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isRemoveUnretrievedAvailable" [width]="550" [height]="300">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <h5>Are you sure you want to remove all unretrieved users?</h5>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <button mat-raised-button class="mr-2" color="warn" (click)="removeUnretrievedUsers()"><i class="fa fa-trash mr-1"></i>Yes</button>
                        <button mat-raised-button (click)="closeRemoveUnretrievedPopup ()"><i class=" fa fa-times mr-1 "></i>No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dx-popup>


<!-- Participants popup zone -->

<dx-popup [(visible)]="isParticipantDetailsAvailable" [width]="500" [height]="600">
    <div *dxTemplate="let data of 'content'">
        <form [formGroup]="updateParticipantFormGroup" novalidate>
            <mat-tab-group>
                <mat-tab label="Interview details">
                    <div class="col-12">
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label> Complete name </mat-label>
                                    <div class="input-group">
                                        <input matInput type="text" formControlName="name" readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label> Email address </mat-label>
                                    <div class="input-group">
                                        <input matInput type="text" formControlName="email" readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label> Phone number </mat-label>
                                    <div class="input-group">
                                        <input matInput type="text" formControlName="phoneNumber" readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label> Occupied position </mat-label>
                                    <div class="input-group">
                                        <input matInput type="text" formControlName="position" readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label> Assigned to interview </mat-label>
                                    <mat-select formControlName="interviewAssigned">
                                        <mat-option *ngFor="let interview of interviews" [value]="interview.interviewId">
                                            {{ interview.interviewDate }} - {{ interview.candidateFirstName}} {{interview.candidateLastName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label> Attended on </mat-label>
                                    <div class="input-group">
                                        <input matInput type="text" formControlName="attendedOn" readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mb-2" style="float: right;">
                                <button mat-raised-button class="mr-2" color="primary" (click)="updateParticipantDetails()"> <i class="far fa-save"></i> Save </button>
                                <button mat-raised-button (click)="closeParticipantUpdate()"> <i class="fas fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>
</dx-popup>

<dx-popup [(visible)]="isAssignInterviewAvailable" [width]="650" [height]="500">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <div class="content-popup-top">
                <form [formGroup]="assingInterviewFormGroup" novalidate>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-9">
                                <mat-form-field appearance="outline">
                                    <mat-label> Select an interview from below </mat-label>
                                    <div class="input-group">
                                        <mat-select formControlName="interview" (selectionChange)="onSelectionInterviewChange($event)">
                                            <mat-option *ngFor="let interview of interviews" [value]="interview.interviewId">
                                                {{ interview. interviewDate }} - {{ interview.candidateFirstName }} {{ interview.candidateLastName }}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <mat-accordion style="width: 100%;">
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                This is the expansion title
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                This is a summary of the content
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="box-details">
                                            <p><span class="font-weight-bold">Interview details</span> | see fields below</p>
                                            <div class="content-box">
                                                <p> <i class="fas fa-user mr-2"></i> Interview scheduled for candidate: {{ crtSelectedInterview.candidateFirstName }} {{ crtSelectedInterview.candidateLastName }}</p>

                                                <p> <i class="fas fa-calendar mr-2"></i> Scheduled on: {{ crtSelectedInterview.interviewDate }}</p>

                                                <p> <i class="fas fa-map-pin mr-2"></i> Attended position: {{ crtSelectedInterview.positionName }}</p>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-10">
                                <mat-form-field appearance="outline" style="width: 70%;">
                                    <mat-label> Select a participant from below </mat-label>
                                    <div class="input-group">
                                        <mat-select formControlName="participant" (selectionChange)="onSelectionParticipantChange($event)">
                                            <mat-option *ngFor="let employee of availableEmployees" [value]="employee.id">
                                                {{ employee.firstName }} {{ employee.lastName }}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <mat-accordion>
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                This is the expansion title
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                This is a summary of the content
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="box-details">
                                            <p><span class="font-weight-bold">Participant details</span> | see fields below</p>
                                            <br>
                                            <div class="content-box">

                                                <p> <i class="fas fa-user mr-1"></i> Complete name: {{ this.crtSelectedParticipant.firstName }} {{ this.crtSelectedParticipant.lastName }}</p>

                                                <p> <i class="fas fa-envelope mr-1"></i> Email address: {{ this.crtSelectedParticipant.email }}</p>

                                                <p> <i class="fas fa-phone mr-1"></i> Phone number: {{ this.crtSelectedParticipant.phoneNumber }}</p>

                                                <p> <i class="fas fa-user-tag mr-1"></i> Position: {{ this.crtSelectedParticipant.position!.positionName }}</p>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                        <div class="row mt-4 mb-1">
                            <div class="col-sm-5" style="margin-left: auto; margin-right: 0;">
                                <button mat-raised-button color="primary" (click)="allocateParticipantInterview()"> Assign </button>
                                <button mat-raised-button class="ml-2" (click)="closeAllocateInterview()"> Close </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup title="Participation removal" [(visible)]="isRemovalAssigningAvailable" [width]="550" [height]="400">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <form [formGroup]="removalAssigningFormGroup" novalidate>
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label> Name </mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="name" readonly>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label> Occupied position </mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="position" readonly>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label> Reason </mat-label>
                                <div class="input-group">
                                    <textarea matInput type="text" formControlName="reason" [errorStateMatcher]="removalReasonMatcher"></textarea>
                                </div>
                                <mat-hint>Type the removal participation reason in the box</mat-hint>
                                <mat-error *ngIf="removalAssigningFormGroup.get('reason')!.hasError('minlength') && !removalAssigningFormGroup.get('reason')!.hasError('required')">
                                    The reason requires at leat <strong>8 characters</strong>
                                </mat-error>
                                <mat-error *ngIf="removalAssigningFormGroup.get('reason')!.hasError('maxlength') && !removalAssigningFormGroup.get('reason')!.hasError('required')">
                                    The reason cannot contain more than <strong>350 characters</strong>
                                </mat-error>
                                <mat-error *ngIf="removalAssigningFormGroup.get('reason')!.hasError('required')">
                                    The reason is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-7" style="margin-left:auto; margin-right: 0 px;">
                            <button mat-raised-button color="warn" (click)="removeParticipation()">
                                <i class="fas fa-trash mr-1"></i>
                                Send removal 
                            </button>
                            <button mat-raised-button class="ml-2" (click)="closeRemovalParticipationPopup()">
                                <i class="fas fa-times mr-1"></i>
                                 Close 
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</dx-popup>

<dx-popup title="All participations removals" [(visible)]="isRemoveParticipationAllAvailable" [width]="550" [height]="500">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <form [formGroup]="removeAssigningAllFormGroup" novalidate>
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-6 text-center" style="margin: 0 auto;">
                            <p>Are you sure you want to remove all participations?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10" style="margin: 0 auto;">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label> Reason </mat-label>
                                <div class="input-group">
                                    <textarea matInput formControlName="reason" [errorStateMatcher]="reasonAllMatcher"></textarea>
                                </div>
                                <mat-hint>Type the removal participation reason in the box</mat-hint>
                                <mat-error *ngIf="removeAssigningAllFormGroup.get('reason')!.hasError('minlength') && !removeAssigningAllFormGroup.get('reason')!.hasError('required')">
                                    The reason requires at leat <strong>8 characters</strong>
                                </mat-error>
                                <mat-error *ngIf="removeAssigningAllFormGroup.get('reason')!.hasError('maxlength') && !removeAssigningAllFormGroup.get('reason')!.hasError('required')">
                                    The reason cannot contain more than <strong>350 characters</strong>
                                </mat-error>
                                <mat-error *ngIf="removeAssigningAllFormGroup.get('reason')!.hasError('required')">
                                    The reason is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="cool-sm-6" style="margin-left: auto; margin-right: 0;">
                            <button mat-raised-button color="warn" (click)="removeAllUsers()"><i class="fa fa-trash mr-1"></i>Yes</button>
                            <button mat-raised-button class="ml-2" (click)="closeAllParticipations()"><i class=" fa fa-times mr-1 "></i>No</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</dx-popup>

<!-- Roles popup zone -->