::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}

mat-form-field{
    width: 100%;
}

input{
    padding-left:10px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

.card-wrapper-cards {
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}