<!-- Main page interview -->

<div class="container col-9">
  <div class="container-title">
    <h3 class="text-center">Current interviews</h3>
    <hr class="mt-3" style="width: 40%; margin: 0 auto;">
    <p class="text-center mb-4">Below is the list of all the interviews that was scheduled till now</p>
  </div>

  <div class="container-options">
    <button mat-raised-button class="mb-3 ml-2" style="float:right; font-weight: bold; background-color: black; color: white;" (click)="exportData()">
      <i class="fas fa-file-excel"></i>
      Export data
    </button>
  </div>

  <div class="mb-3" style="float:right;">
    <button mat-raised-button color="warn" class="ml-2" (click)="openAvailableInterviewsQuiz(contentQuizInterview)">
      <i class="fas fa-puzzle-piece mr-1"></i>Add quiz</button>
  </div>

  <div class="mb-3" style="float:right;">
    <button mat-raised-button color="primary" class="" (click)="open(content)">
      <i class="fa fa-user"></i>
      Schedule an interview
    </button>
  </div>

  <!-- Table itself -->
  <!-- <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th>Scheduled date</th>
        <th>Candidate name</th>
        <th>Candidate current status</th>
        <th>Available options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let interview of splicedData">
        <td><span>{{interview.interviewDate | date: 'dd/MM/yyyy'}}</span></td>
        <td><span>{{interview.candidateFirstName}} {{interview.candidateLastName}}</span></td>
        <td><span>{{interview.candidateSituation}}</span></td>
        <td class="text-center">
          <button mat-raised-button class="mr-1" color="primary" (click)="openDetailForm(contentDetails, interview)">
            <i class="far fa-file-alt mr-1"></i>More</button>
          <button mat-raised-button class="mr-1" style="background-color: gold;"
            (click)="openInterviewUpdate(contentInterviewUpdate, interview)">
            <i class="fas fa-pen mr-1"></i>Update</button>
          <button mat-raised-button class="mr-1" color="warn" (click)="openDelete(contentDelete, interview)">
            <i class="fa fa-trash mr-1"></i>Remove</button>
          <button mat-raised-button class="mr-1" style="background-color: black; color: white;"
            (click)="openParticipantPostForm(contentParticipantPost, interview)">
            <i class="fas fa-user-plus mr-1"></i>Add participant</button>
          <button mat-raised-button style="background-color: grey; color: white;"
            (click)="openAvailableParticipantDetails(contentParticipantView, interview)">
            <i class="fas fa-angle-right mr-1"></i>See participants</button>

        </td>
      </tr>
    </tbody>
  </table> -->

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="scheduledDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="scheduledDate"> Scheduled date </th>
      <td mat-cell *matCellDef="let availableInterview"> {{availableInterview.interviewDate | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="submissionDateFilter">
      <th mat--header-cell *matHeaderCellDef>
          <mat-form-field style="width: 75%;" class="ml-3">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="fromDate" placeholder="Start date" #dateRangeStart>
                <input matEndDate [(ngModel)]="toDate" placeholder="End date" #dateRangeEnd
                  (dateChange)="applySubmissionDateFilter(dateRangeStart, dateRangeEnd)" disabled>
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker-toggle matSuffix (click)="resetForm()">
                  <mat-icon matDatepickerToggleIcon>clear</mat-icon>
              </mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <hr>
      </th>
  </ng-container>

    <ng-container matColumnDef="candidateName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="candidateName"> Candidate name </th>            
      <td mat-cell *matCellDef="let availableInterview">{{availableInterview.candidateFirstName}} {{availableInterview.candidateLastName}}</td>
    </ng-container>

    <ng-container matColumnDef="candidateNameFilter">
      <th mat--header-cell *matHeaderCellDef>
          <mat-form-field style="width: 75%;">
              <input matInput (keyup)="applyNameFilter($event.target)" placeholder="Name filter">
          </mat-form-field>
          <hr>
      </th>
    </ng-container>

    <ng-container matColumnDef="candidateCurrentStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="candidateCurrentStatus"> Candidate status </th>
      <td mat-cell *matCellDef="let availableInterview">{{availableInterview.candidateSituation}}</td>
    </ng-container>

    <ng-container matColumnDef="candidateCurrentStatusFilter">
      <th mat--header-cell *matHeaderCellDef>
          <mat-form-field style="width: 75%;">
              <input matInput (keyup)="applyStatusFilter($event.target)" placeholder="Name filter">
          </mat-form-field>
          <hr>
      </th>
    </ng-container>

    <ng-container matColumnDef="moreDetails">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <th mat-cell *matCellDef="let availableInterview">
        <button mat-icon-button color="primary" (click)="openDetailForm(contentDetails, availableInterview)">
          <i class="far fa-file-alt mr-1"></i></button>
      </th>
    </ng-container>

    <ng-container matColumnDef="updateDetails">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <th mat-cell *matCellDef="let availableInterview">
        <button mat-icon-button style="color: gold;" (click)="openInterviewUpdate(contentInterviewUpdate, availableInterview)">
            <i class="fas fa-pen mr-1"></i></button>
      </th>
    </ng-container>

    <ng-container matColumnDef="deleteDetails">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <th mat-cell *matCellDef="let availableInterview">
        <button mat-icon-button color="warn" (click)="openDelete(contentDelete, availableInterview)">
          <i class="fa fa-trash mr-1"></i></button>
      </th>
    </ng-container>

    <ng-container matColumnDef="addParticipant">
      <th mat-header-cell *matHeaderCellDef>Add participant</th>
      <th mat-cell *matCellDef="let availableInterview">
        <button mat-icon-button class="ml-3" (click)="openParticipantPostForm(contentParticipantPost, availableInterview)">
        <i class="fas fa-user-plus mr-1"></i></button>
      </th>
    </ng-container>

    <ng-container matColumnDef="seeParticipants">
      <th mat-header-cell *matHeaderCellDef>See participant</th>
      <th mat-cell *matCellDef="let availableInterview">
        <button mat-icon-button class="ml-3" (click)="openAvailableParticipantDetails(contentParticipantView, availableInterview)">
        <i class="fas fa-angle-right mr-1"></i></button>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="pageChangeEvent($event)" [length]="pageLength" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>

<!-- Schedule interview form -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New interview</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="interviewScheduleForm" novalidate>
      <div class="form-group">
        <label for="interviewDate">Select a schedule date</label>
        <div class="input-group">
          <input type="date" id="interviewDate" formControlName="interviewDate" name="interviewDate"
            class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="hiringProcess">Select a candidate from below</label>
        <div class="input-group">
          <select [class.is-invalid]="hiringProcess!.invalid && hiringProcess!.touched" id="hiringProcess"
            formControlName="hiringProcess" name="hiringProcess" class="form-control">
            <option *ngFor="let hiringProcess of hiringProcesses" [ngValue]="hiringProcess">
              {{hiringProcess.candidate.firstName}} {{hiringProcess.candidate.lastName}}</option>
          </select>
        </div>
        <div *ngIf="(hiringProcess!.invalid && hiringProcess!.touched) || hiringProcess!.dirty">
          <small *ngIf="hiringProcess!.errors?.required" class="text-danger">You need to select one candidate</small>
        </div>
      </div>

      <div class="text-center">
        <button mat-raised-button color="primary" style="min-width: 50px; max-width: 200px;"
          data-dismiss="modal">Submit</button>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- Interview details form -->

<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Submission details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="interviewDetailsForm">
      <div class="form-group text-center">
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Candidate name</mat-label>
          <div class="input-group">
            <input matInput formControlName="interviewNameDetails" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group text-center">
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Applied for position</mat-label>
          <div class="input-group">
            <input matInput formControlName="interviewPositionName" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group text-center">
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Applied on</mat-label>
          <div class="input-group">
            <input matInput formControlName="interviewSubmissionDate" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group text-center">
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Interview scheduled on</mat-label>
          <div class="input-group">
            <input matInput formControlName="interviewScheduledDate" readonly>
          </div>
        </mat-form-field>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- Remove modal form for Interviews -->

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="mb-4 text-center">Are you sure you want to delete this record?</h4>
    <div class="text-center">
      <button data-dismiss="modal" class="btn btn-danger mt-2 mb-2" (click)="onDelete()">Yes, delete</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<!-- Update interview details modal form -->

<ng-template #contentInterviewUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update interview details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="interviewUpdateForm" novalidate>
      <!-- <div class="form-group">
          <label for="candidateName">Candidate name</label>
          <div class="input-group">
            <input formControlName="candidateName" class="form-control" readonly>
          </div>
        </div> -->
      <div class="input-group">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Candidate name</mat-label>
          <input matInput formControlName="candidateName" readonly>
        </mat-form-field>
      </div>
      <div class="form-group">
        <div class="input-group">
          <mat-form-field appearance="outline">
            <mat-label>Choose scheduled date</mat-label>
            <input matInput [matDatepicker]="picker"
              [class.is-invalid]="interviewScheduledDate?.invalid && interviewScheduledDate?.touched"
              id="interviewScheduledDate" formControlName="interviewScheduledDate" name="interviewScheduledDate"
              class="form-control">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          *ngIf="(interviewScheduledDate?.invalid && interviewScheduledDate?.touched) || interviewScheduledDate?.dirty">
          <small *ngIf="interviewScheduledDate?.errors?.required" class="text-danger">You need to select a date</small>
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="position">Select communication channel from below</label> -->

        <!-- De rezolvat eroarea "mat-form-field must contain a MatFormFieldControl" -->

        <!-- <div class="input-group">
            <mat-form-field>
              <mat-label>Select</mat-label>
              <mat-select matNativeControl formControlName="communicationChannelUpdate">
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
            </mat-form-field>       
          </div> -->

        <!-- Varianta veche a select-ului -->

        <!-- <div class="input-group">
            <select [class.is-invalid] = "communicationChannelUpdate?.invalid && communicationChannelUpdate?.touched" 
                  id="communicationChannelUpdate" formControlName="communicationChannelUpdate" name="communicationChannelUpdate" class="form-control">
              <option *ngFor="let communicationChannel of communicationChannels" [ngValue]="communicationChannel">{{communicationChannel.name}}</option>
            </select>
          </div> -->

        <div class="input-group" style="margin-top: -20px;">
          <mat-form-field appearance="outline">
            <mat-label>Communication channel</mat-label>
            <mat-select formControlName="communicationChannelUpdate" [(ngModel)]="communicationDefault">
              <mat-option *ngFor="let communicationChannel of communicationChannels" [value]="communicationChannel">
                {{communicationChannel.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          *ngIf="(communicationChannelUpdate?.invalid && communicationChannelUpdate?.touched) || communicationChannelUpdate?.dirty">
          <small *ngIf="communicationChannelUpdate?.errors?.required" class="text-danger">You need to select one
            option</small>
        </div>
      </div>
      <div class="text-center">
        <button mat-raised-button color="primary" data-dismiss="modal" (click)="onSaveUpdate()">Save details</button>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- Add participant to the current interview form -->
<ng-template #contentParticipantPost let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a participant to the current interview</h4>
    <button id="contentParticipantCloseBtn" type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="interviewParticipantPost" novalidate>
      <div class="form-group text-center">
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Candidate complete name</mat-label>
          <div class="input-group">
            <input matInput formControlName="candidateCompleteNameInterviewParticipantPost" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group text-center">
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Applied position</mat-label>
          <div class="input-group">
            <input matInput formControlName="appliedPositionInterviewParticipantPost" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group text-center">
        <mat-form-field appearance="outline" style="width: 80%;">
          <mat-label>Interview scheduled date</mat-label>
          <div class="input-group">
            <input matInput formControlName="interviewScheduledDateInterviewParticipantPost" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group text-center">
        <label for="employeeParticipant">Select an employee from below</label>
        <div class="input-group" style="width: 80%; margin:0 auto;">
          <select [class.is-invalid]="employeeParticipant!.invalid && employeeParticipant!.touched"
            id="employeeParticipant" formControlName="employeeParticipant" name="employeeParticipant"
            class="form-control">
            <option *ngFor="let availableEmployee of availableEmployees" [ngValue]="availableEmployee">
              {{availableEmployee.firstName}} {{availableEmployee.lastName}}</option>
          </select>
        </div>
        <div *ngIf="(employeeParticipant!.invalid && employeeParticipant!.touched) || employeeParticipant!.dirty">
          <small *ngIf="employeeParticipant!.errors?.required" class="text-danger">You need to select one
            employee</small>
        </div>
      </div>

      <div class="text-center">
        <button mat-raised-button color="primary" style="min-width: 50px; max-width: 200px;"
          (click)="submitParticipantInterview()">Submit participant</button>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- See participants that attend to the current interview -->
<ng-template #contentParticipantView let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">See the participants for the current interview</h4>
    <button id="contentParticipantCloseBtn" type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 350px; overflow:scroll;">
    <div class="card-wrapper">
      <div *ngFor="let availableParticipant of availableParticipants">
        <igx-card class="mt-3">
          <igx-card-header>
            <h3 igxCardHeaderTitle>{{availableParticipant.firstName}} {{availableParticipant.lastName}}</h3>
            <!-- <h5 igxCardHeaderSubtitle>{{availableParticipant.position.positionName}}</h5> -->
            <h5 igxCardHeaderSubtitle>Attended time: {{availableParticipant.attendanceDate | date: 'dd/MM/yyyy
              HH:mm:ss'}}</h5>
            <button mat-mini-fab color="warn" class="mt-2"
              (click)="removeParticipantFromInterview(availableParticipant.participantId)"><i
                class="far fa-minus-square"></i></button>
          </igx-card-header>
        </igx-card>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- Quiz adder modal form -->
<ng-template #contentQuizInterview let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Available interviews</h4>
    <button id="contentParticipantCloseBtn" type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 350px; overflow:scroll;">
    <div class="card-wrapper">
      <div *ngFor="let interview of interviews">
        <igx-card class="mt-3">
          <igx-card-header>
            <h3 igxCardHeaderSubtitle><span style="font-weight: bold; color: black;">Scheduled on:
                {{interview.interviewDate | date:'dd/MM/yyyy HH:mm:ss'}}</span></h3>
            <h3 igxCardHeaderSubtitle><span style="font-weight: bold; color: black;">Candidate name:
                {{interview.candidateFirstName}} {{interview.candidateLastName}}</span></h3>
            <h3 igxCardHeaderSubtitle><span style="font-weight: bold; color: black;">Applied position:
                {{interview.positionName}}</span></h3>
          </igx-card-header>
          <igx-card-content>
            <p style="font-weight: bold;" *ngIf="interview.quiz"
              (click)="openQuizDetails(contentQuizDetails, interview)">
              <i class="fas fa-caret-square-down mr-1" style="color: black;"></i>
              See quiz details
            </p>
            <p style="font-weight: bold;" (click)="openQuizCreator(contentQuizCreatorInterview, interview)"
              *ngIf="!interview.quiz">
              <i class="fas fa-plus-square mr-1" style="color: blue;"></i>
              Add a new quiz
            </p>
            <p style="font-weight: bold;" (click)="openRemovalConfirmation(contentCreatedQuizRemove, interview)"
              *ngIf="interview.quiz">
              <i class="fas fa-minus-square mr-1" style="color:red;"></i>
              Remove current quiz
            </p>
          </igx-card-content>
        </igx-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentQuizCreatorInterview let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a new quiz</h4>
    <button id="contentQuizCreatorInterviewCloseBtn" type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="interviewQuizCreator" novalidate>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Interview scheduled on</mat-label>
          <div class="input-group">
            <input matInput formControlName="interviewScheduledOnQuiz" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Position name</mat-label>
          <div class="input-group">
            <input matInput formControlName="interviewPositionNameQuiz" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Quiz mentions</mat-label>
          <div class="input-group">
            <textarea matInput formControlName="interviewMentionsQuiz"></textarea>
          </div>
        </mat-form-field>
      </div>

      <div class="text-center">
        <button mat-raised-button color="primary" style="min-width: 50px; max-width: 200px;" (click)="PostQuiz()">Submit
          quiz</button>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #contentCreatedQuizRemove let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Quiz removal confirmation?</h4>
    <button id="quizContentDeleteInterviewBtn" type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="mb-4 text-center">Are you sure you want to delete the quiz allocated to this interview?</h4>
    <div class="text-center">
      <button data-dismiss="modal" class="btn btn-danger mt-2 mb-2" (click)="removeQuiz()">Remove</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<ng-template #contentQuizDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Quiz details</h4>
    <button id="contentQuizDetailsDismissBtn" type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="contentQuizDetailsFG">

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Quiz created on</mat-label>
          <div class="input-group">
            <input matInput formControlName="quizCreatedOnDetails" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Quiz created for position</mat-label>
          <div class="input-group">
            <input matInput formControlName="positionQuizDetails" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Created by</mat-label>
          <div class="input-group">
            <input matInput formControlName="createdByQuizDetails" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Score result</mat-label>
          <div class="input-group">
            <input matInput formControlName="scoreQuizDetails" readonly>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Mentions</mat-label>
          <div class="input-group">
            <textarea matInput formControlName="mentionsQuizDetails" readonly></textarea>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-accordion>
          <mat-expansion-panel (opened)="openedState = true" (closed)="openedState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Available questions
              </mat-panel-title>
              <!-- <mat-panel-description>
                <button mat-mini-fab color="primary" style="width: 30px; height: 30px; margin-right: 500px;" ><i class="fas fa-plus-circle mb-3"></i></button>
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="card-wrapper-cards">
              <igx-card *ngFor="let question of questions" class="mb-3">
                <igx-card-header>
                  <h5 igxCardHeaderSubtitle>{{question.questionBody}}</h5>
                  <ul>
                    <li>
                      <h5 igxCardHeaderSubtitle>Created by: <span
                          style="font-weight: bold; color:black;">{{question.createdBy}}</span></h5>
                    </li>
                    <li>
                      <h5 igxCardHeaderSubtitle>Created at: <span
                          style="font-weight: bold; color: black;">{{question.createdAt}}</span></h5>
                    </li>
                    <li>
                      <h5 igxCardHeaderSubtitle>Current no. of answers: <span
                          style="font-weight: bold; color:black;">{{question.noOfAnswers}}</span></h5>
                    </li>
                  </ul>
                </igx-card-header>
              </igx-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="form-group" style="float:right;" (click)="openDynamicQuestionCreator(contentDynamicQuestionCreator)">
        <i class="fas fa-plus-square mr-1" style="color: black;"></i>
        Add a new question
      </div>
      <!-- <div class="text-center">
        <button mat-raised-button color="primary" style="min-width: 50px; max-width: 200px;" (click)="openDynamicQuestionCreator(contentDynamicQuestionCreator)">Add a question to the quiz</button>
      </div> -->
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #contentDynamicQuestionCreator let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a new question to the quiz</h4>
    <button id="contentQuizCreatorInterviewCloseBtn" type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="questionFormGroup">
        <form [formGroup]="questionFormGroup">
          <ng-template matStepLabel>Fill out the question body</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Question body</mat-label>
            <input matInput placeholder="Question body" formControlName="questionBody" required>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperNext
              style="background-color: black; color: white; float:right;">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondQuestionFromGroup" label="Fill out the answers">
        <form [formGroup]="secondQuestionFromGroup">
          <div formArrayName="items"
            *ngFor="let item of secondQuestionFromGroup.get('items')!['controls']; let i = index;">
            <div [formGroupName]="i">
              <mat-form-field appearance="outline" style="margin-bottom: -40px;">
                <textarea matInput formControlName="answerBody" placeholder="Answer body" required></textarea>
              </mat-form-field>
              <p style="font-weight: bold; font-size: 14px;" (click)="removeItem(i)" *ngIf="i > 0"><i
                  class="fas fa-minus-square mr-1" style="color:red;"></i>Remove answer</p>
            </div>
          </div>
          <p style="font-weight: bold; font-size: 14px;" (click)="addItem()"><i class="fas fa-plus-square mr-1"
              style="color:blue;"></i>Add answer</p>
          <div>
            <button mat-raised-button matStepperNext
              style="background-color: black; color:white; float:right;">Next</button>
            <button mat-raised-button matStepperPrevious class="mr-2"
              style="background-color: black; color:white; float:right;">Back</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h5>Confirmation</h5>
        <p>By pressing <span style="font-weight: bold;">Submit question</span> you will not be able to cancel the
          request</p>
        <div>
          <button mat-raised-button color="primary" (click)="postQuestion()">Submit question</button>
          <br>
          <button mat-raised-button (click)="stepper.reset()"
            style="float: right; background-color: black; color: white;">Reset</button>
          <button mat-raised-button class="mr-2" matStepperPrevious
            style="float: right; background-color:black; color: white;">Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>