<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <a href="#" class="navbar-brand">
        <span><i class="fas fa-street-view"></i></span> iManagement
    </a>
    <button class="btn" id="button-toggler"><span></span><i class="fas fa-bars" style="color: white;"></i></button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="obtainedUser; else stillLoadingAnonymousCheck">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active mr-2" *ngIf="obtainedUser.role === 'Anonymous'">
                <a class="nav-link" id="employeeLoginBtn" href="#userLoginModal" style="visibility: visible;" data-toggle="modal"><span class="font-weight-bold">Login</span></a>
            </li>
            <li class="nav-item" *ngIf="obtainedUser.role !== 'Anonymous'">
                <a class="nav-link" id="notificationBtn" href="#notificationModal" data-toggle="modal">
                    <i class="fas fa-bell" matBadge="{{noOfNotifications}}" matBadgeColor="warn" matBadgeSize="small" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()" style="color:white;"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="obtainedUser.role !== 'Anonymous'">
                <a class="nav-link" id="settingsBtn" href="/user/options"><i class="fas fa-cog" style="color: white;"></i></a>
            </li>
            <li class="nav-item" *ngIf="obtainedUser.role !== 'Anonymous'">
                <a class="nav-link" id="logoutBtn" href="#logoutModal" data-toggle="modal"><i class="fas fa-sign-out-alt" style="color: white;"></i></a>
            </li>
        </ul>
    </div>
</nav>

<!-- ng-templates -->
<ng-template #stillLoadingAnonymousCheck>
    <p>Loading ...</p>
</ng-template>