<div class="container col-9">
    <!-- Add new candidate button -->
    <div class="border mb-3">
        <button class="btn btn-md btn-outline-primary right" (click)="open(content)">
            <i class="fa fa-user"></i>
            New candidate
        </button>
    </div>
  
    <!-- Table itself -->
    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone no.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidate of candidates">
                <td><span>{{candidate.firstName}}</span></td>
                <td><span>{{candidate.lastName}}</span></td>
                <td><span>{{candidate.phoneNumber}}</span></td>
                <td class="text-center">
                    <button class="btn btn-sm btn-info mr-1" (click)="openDetails(contentDetails, candidate)">
                      <i class="far fa-file-alt mr-2"></i>Details</button>
                    <button class="btn btn-sm btn-danger mr-1" (click)="openDelete(contentDelete, candidate)">
                      <i class="fa fa-trash"></i>Remove</button>
                    <button class="btn btn-sm btn-primary">
                      <i class="fa fa-calendar-plus"></i>Interview</button>
                  </td>
            </tr>
        </tbody>
    </table>
  </div>
  
  <ng-template #contentDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Candidate details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>First name</label>
                <div class="input-group">
                    <input id="firstName" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Last name</label>
                <div class="input-group">
                    <input id="lastName" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Address</label>
                <div class="input-group">
                    <input id="address" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Email address</label>
                <div class="input-group">
                    <input id="emailAddress" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Phone number</label>
                <div class="input-group">
                    <input id="phoneNumber" class="form-control" readonly>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
  <!-- Delete modal form -->
  <ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Candidate remove operation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <h2>Are you sure you want to remove this record from database?</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">
        Remove!
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
  </ng-template>
  
  <!-- Add a new candidate template form -->
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New candidate</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="candidateDetails" novalidate>
          <div class="form-group">
            <label for="firstName">First name</label>
            <div class="input-group">
              <input [class.is-invalid] = "firstName!.invalid && firstName!.touched" 
                formControlName="firstName" class="form-control">
            </div>
            <div *ngIf="(firstName?.invalid && firstName?.touched) || firstName?.dirty">
                <small *ngIf="firstName?.errors?.required" class="text-danger">The first name is required</small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="lastName">Last name</label>
            <div class="input-group">
                <input [class.is-invalid] = "lastName!.invalid && lastName!.touched" 
                    formControlName="lastName" class="form-control">
            </div>
            <div *ngIf="(lastName?.invalid && lastName?.touched) || lastName?.dirty">
                <small *ngIf="lastName?.errors?.required" class="text-danger">The last name is required</small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
                <input [class.is-invalid] = "dateOfBirth!.invalid && dateOfBirth!.touched"
                 type="date" formControlName="dateOfBirth" class="form-control">
            </div>
            <div *ngIf="(dateOfBirth?.invalid && dateOfBirth?.touched) || dateOfBirth?.dirty">
                <small *ngIf="dateOfBirth?.errors?.required" class="text-danger">Date of birth is required</small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="address">Address</label>
            <div class="input-group">
              <input [class.is-invalid] = "address!.invalid && address!.touched"
                formControlName="address" class="form-control">
            </div>
            <div *ngIf="(address?.invalid && address?.touched) || address?.dirty">
                <small *ngIf="address?.errors?.required" class="text-danger">Address is required</small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="emailAddress">Email address</label>
            <div class="input-group">
              <input [class.is-invalid] = "emailAddress!.invalid && emailAddress!.touched"
              type="email" formControlName="emailAddress" class="form-control">
            </div>
            <div *ngIf="(emailAddress?.invalid && emailAddress?.touched) || emailAddress?.dirty">
                <small *ngIf="emailAddress?.errors?.required" class="text-danger">Email address is required</small>
                <small *ngIf="emailAddress?.errors?.pattern" class="text-danger">Please provide a valid email address</small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="phoneNumber">Phone no.</label>
            <div class="input-group">
              <input [class.is-invalid] = "phoneNumber!.invalid && phoneNumber!.touched" 
                formControlName="phoneNumber" class="form-control">
            </div>
            <div *ngIf="(phoneNumber?.invalid && phoneNumber?.touched) || phoneNumber?.dirty">
                <small *ngIf="phoneNumber?.errors?.required" class="text-danger">Phone no. is required</small>
                <small *ngIf="phoneNumber?.errors?.pattern" class="text-danger">Please provide a valid phone number</small>
            </div>
          </div>  
  
          <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info">Submit</button>
          </div>
      </form>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
  
  