.grid-container {
    position: relative;
}

.grid-container>button {
    position: relative;
    float: right;
    top: -50px;
    right: 370px;
    outline: none;
}

textarea {
    min-height: 50px;
    max-height: 100px;
    resize: vertical;
}

.container-box {
    margin-top: 40px;
    margin-left: 20px;
}

.content-box {
    background-color: #DCE5E0;
    min-width: 500px;
    max-width: 1600px;
    padding: 20px;
    margin: 0 auto;
    min-height: 400px;
    max-height: 1500px;
}