<div class="col-12 container-box" style="margin: 0 auto;">
    <div class="row">
        <div class="col-sm-8">
            <p><span style="font-weight: bold;">Page name</span> / Section name</p>
        </div>
        <div class="col-sm-4">col-sm-4</div>
    </div>

    <div class="row">
        <div class="col-sm-7" style="background-color: #ffff; border-radius: 10px;">
            <div>
                <p><span class="font-weight-bold">Departments list</span> <span class="ml-2 mr-2">|</span> List of available departments</p>
            </div>

            <dx-data-grid #grid id="gridContainer" [dataSource]="departments" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true">
                </dxo-pager>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="departmentName" caption="Department name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted"></dxi-column>
                <dxi-column dataField="active" caption="Active" dataType="boolean" alignment="center" [width]="300" cellTemplate="activeCellTemplate"></dxi-column>
                <dxi-column dataField="currentNumberOfPositions" caption="Current no. of positions" dataType="number" alignment="center" [width]="250"></dxi-column>

                <dxi-column type="buttons" caption="Options">
                    <dxi-button [onClick]="openUpdateDialog" icon="fa fa-edit"></dxi-button>
                    <dxi-button [onClick]="openDeleteDialog" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                </dxi-column>

                <div *dxTemplate="let data of 'activeCellTemplate'">
                    <span *ngIf="data.data.active"><i class="fas fa-check text-success"></i></span>
                    <span *ngIf="!data.data.active"><i class="fas fa-times text-danger"></i></span>
                </div>

            </dx-data-grid>
        </div>
        <div class="col-sm-2">col-sm-2</div>
        <div class="col-sm-3" style="background-color: #ffff; border-radius: 10px;">col-sm-3</div>
    </div>
    <!-- <div class="row">
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
    </div> -->
</div>