<div class="col-12">
    <div class="row mt-4">
        <div class="col-sm-6" style="background-color: white; border-radius: 5px; margin: 0 auto;">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-6" style="background-color: white;">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>Google authentication</h5>
                                    <hr class="mt-3" style="width: 60%;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p><span class="font-weight-bold">Setup code: </span> {{manualKey}}</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <form [formGroup]="twoStepForm" autocomplete="off" novalidate (ngSubmit)="loginUser(twoStepForm.value)">
                                        <mat-form-field appearance="outline" style="width: 100%;">
                                            <mat-label>Code here</mat-label>
                                            <div class="input-group">
                                                <input matInput type="number" formControlName="verificationCode" [errorStateMatcher]="verificationMatcher">
                                            </div>
                                            <mat-hint><strong>Verification code here</strong></mat-hint>
                                            <mat-error *ngIf="twoStepForm.get('verificationCode')!.hasError('required')">
                                                Verification code is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="twoStepForm.get('verificationCode')!.hasError('min')">
                                                Verification code must have minimum <strong>6 characters</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <button mat-raised-button class="mt-2" type="submit" color="primary" style="width: 100%;">
                                            <i class="fas fa-check mr-1"></i>
                                            <span>Verify code</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="{{imageUrl}}" alt="">
                        <p class="text-center">Scan the QR to obtain the access code</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>