<div class="col-12 text-center mt-5" style="width: 60%; margin:0 auto;">
    <hr class="mt-2 mb-2">
    <p style="color: #4F5D75;">@Copyright 2021 <span class="font-weight-bold">iManagement</span></p>
</div>