<div class="container col-9">
    <!-- Table itself -->
    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Associated with candidate</th>
                <th>Created at</th>
                <th>Candidate situation</th>
                <th>Available options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hiring of hirings">
                <td><span>{{hiring.candidate!.firstName}} {{hiring.candidate!.lastName}}</span></td>
                <td><span>{{hiring.submission!.dateOfSubmission | date: 'dd/MM/yyyy hh:mm:ss'}}</span></td>
                <td><span>{{hiring.candidateSituation}}</span></td>
                <td class="text-center">
                    <button class="btn btn-sm btn-info mr-1" (click)="openDetails(contentDetails, hiring)">
                      <i class="far fa-file-alt mr-1"></i>Details</button>
                    <button class="btn btn-sm btn-warning mr-1">
                      <i class="fa fa-calendar-plus"></i>Interview</button>
                  </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Hiring process details form -->
<ng-template #contentDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Hiring process details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="hiringDetails">
            <div class="form-group">
                <label>Candidate name</label>
                <div class="input-group">
                    <input id="hiring_candidate_name" formControlName="hiring_candidate_name" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Applied position</label>
                <div class="input-group">
                    <input id="hiring_applied_position" formControlName="hiring_position_name" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Hiring process created at</label>
                <div class="input-group">
                    <input id="hiring_created_at" formControlName="hiring_created_at" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Current candidate situation</label>
                <div class="input-group">
                    <input id="hiring_candidate_situation" formControlName="hiring_candidate_situation" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Interview scheduled date</label>
                <div class="input-group">
                    <input id="hiring_interview_scheduled_date" formControlName="hiring_interview_scheduled_date" class="form-control" readonly>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
