<div class="container">
    <div class="container-title text-center">
        <h3>Current applications</h3>
        <hr style="width: 60%; margin:0 auto; margin-top: 20px;">
        <p>Track your current submissions for vacant positions</p>
    </div>

    <div class="card-wrapper">
        <div *ngFor="let submission of submissionsSent">
            <igx-card>
                <igx-card-header>
                    <h3 igxCardHeaderTitle>{{submission.appliedPosition.positionName}}</h3>
                    <h5 *ngIf="submission.appliedPosition.description; else noDescription" igxCardHeaderSubtitle>Position description: {{submission.appliedPosition.description}}</h5>
                    <h5 igxCardHeaderSubtitle>Submission date: {{submission.dateOfSubmission | date: 'dd/MM/yyyy'}}</h5>
                    <h5 igxCardHeaderSubtitle>Submission status: {{submission.status}}</h5>
                    <button mat-fab color="warn" class="mt-3" (click)="withdrawSubmission(submission)"><i class="far fa-minus-square"></i></button>
                </igx-card-header>
            </igx-card>
        </div>
    </div>
</div>

<ng-template #noDescription>
    <h5 igxCardHeaderSubtitle>No description yet</h5>
</ng-template>