<div class="col-12">
    <div class="row">
        <div class="col-sm-8">
            <p><span style="font-weight: bold;">Admin panel</span> / Candidates</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" style="background-color: white; border-radius: 5px;">
            <div>
                <p style="color: #4F5D75;"><span class="font-weight-bold">Candidates list</span> <span class="ml-2 mr-2">|</span> List of all available candidates in database</p>
            </div>

            <dx-data-grid #gridAdminCandidates id="gridContainer" [dataSource]="availableCandidates" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column caption="Candidate name" dataType="string" aligment="center" [width]="300" cellTemplate="nameTemplate"></dxi-column>
                <dxi-column dataField="address" caption="Address" dataType="string" alignment="center" [width]="200"></dxi-column>
                <dxi-column dataField="dateOfBirth" caption="Birth date" dataType="date" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="positionName" caption="Applied for position" dataType="string" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="submissionDate" caption="Applied for position on" dataType="date" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="email" caption="Email address" dataType="string" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="candidateSituation" caption="Current status" dataType="string" alignment="center" [width]="250" cellTemplate="situationTemplate"></dxi-column>

                <dxi-column type="buttons" caption="Options">
                    <dxi-button [onClick]="openUpdatePopup" icon="fa fa-edit"></dxi-button>
                    <dxi-button [onClick]="openCandidateRemovalPopup" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                    <dxi-button [onClick]="openCandidateStatusPopup" icon="fas fa-history"><i class="fas fa-thermometer-half"></i></dxi-button>
                </dxi-column>

                <div *dxTemplate="let data of 'nameTemplate'">
                    {{data.data.firstName}} {{data.data.lastName}}
                </div>

                <div *dxTemplate="let data of 'situationTemplate'">
                    <span *ngIf="data.data.candidateSituation === 'Waiting'">
                        <i class="fas fa-clock" style="color: black;"></i>
                        Waiting
                    </span>
                    <span *ngIf="data.data.candidateSituation === 'UnderReview'">
                        <i class="fas fa-search" style="color:black"></i>
                        Under review
                    </span>
                    <span *ngIf="data.data.candidateSituation === 'ReadyForInterview'">
                        <i class="fas fa-desktop" style="color: black;"></i>
                        Ready for interview
                    </span>
                    <span *ngIf="data.data.candidateSituation === 'ScheduledInterview'">
                        <i class="fas fa-calendar-alt" style="color: black;"></i>
                        Scheduled interview
                    </span>
                    <span *ngIf="data.data.candidateSituation === 'ScheduledEvaluation'">
                        <i class="fas fa-pen-alt" style="color: black;"></i>
                        Scheduled evaluation
                    </span>
                    <span *ngIf="data.data.candidateSituation === 'Accepted'">
                        <i class="fas fa-user-check" style="color: green;"></i>
                        Accepted
                    </span>
                    <span *ngIf="data.data.candidateSituation === 'Rejected'">
                        <i class="far fa-times-circle" style="color: red;"></i>
                        Rejected
                    </span>
                </div>
            </dx-data-grid>

        </div>
        <div class="col-sm-2 ml-2" style="background-color: white; border-radius: 5px;">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12">
                        <p><span class="font-weight-bold" style="color:#4F5D75;">Options</span> | Access various options</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button mat-raised-button class="mt-2" style="background-color: #6B818C; color:white; width: 100%;" (click)="openMultipleResetPopup()">
                            <i class="fas fa-history mr-1"></i>
                            <span class="mt-3">Reset all status</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mt-3" style="background-color: white;">
            Mat-tab-here
        </div>
    </div>
</div>

<!-- Devextreme popups zone -->

<dx-popup title="Update candidate details" [(visible)]="isUpdateCandidateAvailable" [width]="800" [height]="620">
    <div *dxTemplate="let data of 'content'">
        <form [formGroup]="candidateUpdateForm" novalidate>
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="font-weight-bold">Candidate details</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> First name </mat-label>
                            <div class="input-group">
                                <input matInput type="text" formControlName="firstName" [errorStateMatcher]="firstNameMatcher">
                            </div>
                            <mat-hint><strong>Fill in the candidate name</strong></mat-hint>
                            <mat-error *ngIf="candidateUpdateForm.get('firstName')!.hasError('required')">
                                The first name field is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('firstName')!.hasError('minlength') && !candidateUpdateForm.get('firstName')!.hasError('required')">
                                The first name cannot be less than <strong>2 characters</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('firstName')!.hasError('maxlength') && !candidateUpdateForm.get('firstName')!.hasError('required')">
                                The first name cannot be more than <strong>30 characters</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-5">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Last name </mat-label>
                            <div class="input-group">
                                <input matInput type="text" formControlName="lastName" [errorStateMatcher]="lastNameMatcher">
                            </div>
                            <mat-hint><strong>Fill in the candidate name</strong></mat-hint>
                            <mat-error *ngIf="candidateUpdateForm.get('lastName')!.hasError('required')">
                                The last name field is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('lastName')!.hasError('minlength') && !candidateUpdateForm.get('lastName')!.hasError('required')">
                                The last name cannot be less than <strong>2 characters</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('lastName')!.hasError('maxlength') && !candidateUpdateForm.get('lastName')!.hasError('required')">
                                The last name cannot be more than <strong>30 characters</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Birth date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birthDate" [errorStateMatcher]="birthDateMatcher" [min]="minBirthDate" [max]="maxBirthDate" placeholder="Choose birth date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint><strong>Select candidate birth date</strong></mat-hint>
                            <mat-error *ngIf="candidateUpdateForm.get('birthDate')!.hasError('required')">
                                Candidate birth date is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('birthDate')!.hasError('matDatepickerMax')">
                                Birth date should be <strong>inferior</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-5">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Email address </mat-label>
                            <div class="input-group">
                                <input matInput type="email" formControlName="emailAddress" [errorStateMatcher]="emailMatcher">
                            </div>
                            <mat-hint><strong>Fill in the email address</strong></mat-hint>
                            <mat-error *ngIf="candidateUpdateForm.get('emailAddress')!.hasError('required')">
                                The email address is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('emailAddress')!.hasError('minlength') && !candidateUpdateForm.get('emailAddress')!.hasError('required')">
                                The email address cannot have less than <strong>8 characters</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('emailAddress')!.hasError('maxlength') && !candidateUpdateForm.get('emailAddress')!.hasError('required')">
                                THe email address cannot have more than <strong>50 characters</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('emailAddress')!.hasError('email')">
                                The email address <strong>is not in the correct format</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Address </mat-label>
                            <div class="input-group">
                                <textarea matInput type="text" formControlName="address" placeholder="Fill in the candidate adress ..."></textarea>
                            </div>
                            <mat-hint> <strong>Fill in the candidate adress</strong> </mat-hint>
                            <mat-error *ngIf="candidateUpdateForm.get('address')!.hasError('required')">
                                The address is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('address')!.hasError('minlength') && !candidateUpdateForm.get('address')!.hasError('required')">
                                The address cannot be less than <strong>8 characters</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateUpdateForm.get('address')!.hasError('maxlength') && !candidateUpdateForm.get('address')!.hasError('required')">
                                The address cannot be more than <strong>50 characters</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <hr class="mt-2" style="width: 50%; margin:0 auto; opacity: 0.7;">
                <div class="row mt-2">
                    <div class="col-sm-5">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Applied for position</mat-label>
                            <div class="input-group">
                                <input matInput type="text" formControlName="appliedPosition" readonly>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-5">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Applied on </mat-label>
                            <div class="input-group">
                                <input matInput type="text" formControlName="appliedOn" readonly>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12">
            <div class="row">
                <div class="col-sm-8">
                    <button mat-raised-button color="primary" (click)="updateCandidateDetails()">
                            <i class="fas fa-save" style="color:white;"></i>
                            Save details
                        </button>
                    <button mat-raised-button class="ml-2" (click)="closeUpdatePopup()">
                            Close
                        </button>
                </div>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isDeleteCandidateAvailable" [width]="500" [height]="300">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <h5 class="mb-4 text-center"> Are you sure you want to delete this record? </h5>
            <div class="text-center">
                <button mat-raised-button color="warn" (click)="removeCandidate()"> <i class="fa fa-trash mr-1"></i> Yes </button>
                <button class="ml-2" mat-raised-button (click)="closeCandidateRemovalPopup()"> <i class="fa fa-times mr-1"></i> No </button>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup title="Update candidate details" [(visible)]="isUpdateStatusAvailable" [width]="600" [height]="300">
    <div *dxTemplate="let data of 'content'">
        <form [formGroup]="candidateChangeStatusForm" novalidate>
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8" style="margin: 0 auto;">
                        <h6 class="font-weight-bold text-center"> Confirm candidate situation reset </h6>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12 text-center">
                        <mat-form-field appearance="outline" style="margin: 0 auto;">
                            <mat-label> Reason </mat-label>
                            <div class="input-group">
                                <textarea matInput formControlName="reason" [errorStateMatcher]="reasonMatcher"></textarea>
                            </div>
                            <mat-hint><span>Fill in the reason area</span></mat-hint>
                            <mat-error *ngIf="candidateChangeStatusForm.get('reason')!.hasError('required')">
                                The reason area is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateChangeStatusForm.get('reason')!.hasError('minlength') && !candidateChangeStatusForm.get('reason')!.hasError('required')">
                                The reason area cannot have less than <strong>8 characters</strong>
                            </mat-error>
                            <mat-error *ngIf="candidateChangeStatusForm.get('reason')!.hasError('maxlength') && !candidateChangeStatusForm.get('reason')!.hasError('required')">
                                The reason area cannot have more than <strong>350 characters</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12">
            <div class="row">
                <div class="col-sm-8 text-center" style="margin: 0 auto;">
                    <button mat-raised-button color="primary" (click)="updateStatus()">
                            <i class="fas fa-save" style="color:white;"></i>
                            Save details
                        </button>
                    <button mat-raised-button class="ml-2" (click)="closeUpdateStatusPopup()">
                            Close
                        </button>
                </div>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isResetSelectedStatus" [width]="500" [height]="300">
    <div *dxTemplate="let data of 'content'">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-10" style="margin: 0 auto;">
                    <h6 class="font-weight-bold text-center">Are you sure you want to reset selected candidates status?</h6>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12 text-center" style="margin: 0 auto; ">
                    <button mat-raised-button class="mr-2" style="background-color: #6B818C; color: white;" (click)="resetMultipleStatus()"> 
                        <i class="fas fa-user-clock mr-1"></i>
                        Reset status 
                    </button>
                    <button mat-raised-button>
                        <i class="fas fa-times"></i>
                         Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</dx-popup>