<div class="container">
    <div class="container-title text-center mb-5">
        <h3>Available positions to apply</h3>
        <hr>
        <p>Chose one option from below an proceed to the specific page of the job</p>
    </div>

    <div class="card-wrapper">
    <div *ngFor="let availablePosition of availablePositions">
            <igx-card>
                <igx-card-media height="196px">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/employee-1714118-1459147.png" alt="job 1 application">
                </igx-card-media>
    
                <igx-card-header>
                    <h3 id="card-header-text" igxCardHeaderTitle>{{availablePosition.positionName}}</h3>
                    <h5 igxCardHeaderSubtitle>No. of available positions: <span style="font-weight: bold; color: black;">{{availablePosition.noVacantPositions}}</span></h5>
                </igx-card-header>
    
                <igx-card-content>
                    <p>{{availablePosition.description}}</p>
                </igx-card-content>
    
                <igx-card-actions>
                    <!-- <a href="applications/application_registration"><button mat-raised-button color="primary" (click)="SendData(availablePosition)">Apply now</button></a> -->
                    <button mat-raised-button color="primary" (click)="SendData(availablePosition)">Apply now</button>
                </igx-card-actions>
                
            </igx-card>
        </div>
    </div>
</div>