<div class="container">
    <div class="container-title text-center mb-5">
        <h3>Manager dashboard</h3>
        <hr class="mt-3" style="width: 60%; margin:0 auto;">
        <p>Chose one option from below</p>
    </div>
    <div class="card-wrapper">
        <igx-card>
            <igx-card-media height="196px">
                <img src="https://icon-library.com/images/candidate-icon/candidate-icon-15.jpg" alt="">
            </igx-card-media>
        
            <igx-card-header>
                <h3 igxCardHeaderTitle>Candidate tracking</h3>
                <h5 igxCardHeaderSubtitle>See the current status of candidates</h5>
                <h5 igxCardHeaderSubtitle>Current no. of candidates: {{noOfCandidates}}</h5>
            </igx-card-header>
        
            <igx-card-content>
                <p>Lorem ipsum dolores</p>
            </igx-card-content>
        
            <igx-card-actions>
                <button igxButton igxRipple><a href="/manager/panel/candidate/tracking" style="color:black;">Go into</a></button>
            </igx-card-actions>
        </igx-card>
        
        <igx-card>
            <igx-card-media height="196px">
                <img src="https://icon-library.com/images/candidate-icon/candidate-icon-15.jpg">
            </igx-card-media>
        
            <igx-card-header>
                <h3 igxCardHeaderTitle>Interview tracking</h3>
                <h5 igxCardHeaderSubtitle>Current interview status</h5>
                <h5 igxCardHeaderSubtitle>Current no. of interviews: {{noOfInterviews}}</h5>
            </igx-card-header>
        
            <igx-card-content>
                <p>Lorem ipsum dolores</p>
            </igx-card-content>
        
            <igx-card-actions>
                <button igxButton igxRipple><a href="/manager/panel/interview-tracking" style="color:black;">Go into</a></button>
            </igx-card-actions>
        </igx-card>
    </div>          
            
</div>