.card-wrapper {
    max-width: 470px;
    min-width: 220px;
    display: flex;
}

igx-card{
    min-width: 250px;
    max-width: 350px;
    margin-right: 20px;
}

.container-title > p{
    font-size: 20px;
}