
<div class="container col-9">
    <div class="container-title">
      <h3 class="text-center">Current questions</h3>
      <hr class="mt-3" style="width: 40%; margin: 0 auto;">
      <p class="text-center mb-4">Below is the list of all the questions that was created till now</p>
    </div>

      <!-- Table itself -->
      <table class="table table table-stripped" style="width: 60%; margin: 0 auto;">
          <tbody>
              <tr *ngFor="let question of availableQuestions">
                  <mat-accordion>
                    <mat-expansion-panel (opened)="answersPanelState = true"
                                       (closed)="answersPanelState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <p style="font-weight:bold;">{{question.questionBody}}</p>
                            </mat-panel-title>
                        </mat-expansion-panel-header> 
                        <ul>
                            <li><p><i class="fas fa-user-circle mr-2"></i>Created by: <span style="font-weight: bold;">{{question.createdBy}}</span></p></li>
                            <li><p><i class="fas fa-clock mr-2"></i>Created at: <span style="font-weight: bold;">{{question.createdAt}}</span></p></li>
                            <li><p><i class="fas fa-list-ol mr-2"></i>Current number of answers: <span style="font-weight: bold;">{{question.noOfAnswers}}</span></p></li>
                            <li><p><i class="fas fa-user-circle mr-2"></i>Last modified by: <span style="font-weight: bold;">{{question.lastModifiedBy}}</span></p></li>
                            <hr>
                            <div class="row">
                                <p class="ml-3" (click)="openQuestionDetails(contentQuestionDetails, question)"><i class="fas fa-info-circle mr-1" style="color:lightseagreen;"></i>More details</p>      
                                <p class="ml-4" (click)="openQuestionUpdate(contentQuestionUpdate, question)"><i class="fas fa-edit mr-1" style="color:goldenrod;"></i>Update question details</p>                       
                                <p class="ml-4" (click)="openQuestionDelete(contentQuestionDelete, question)"><i class="fas fa-minus-circle mr-1" style="color: red;"></i>Remove question</p>
                            </div>
                        </ul>
                    </mat-expansion-panel>
                    <br>
                  </mat-accordion>
              </tr>
          </tbody>
      </table>
  </div>

  <!-- Question details modal -->
  <ng-template #contentQuestionDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">See the participants for the current interview</h4>
      <button id="contentParticipantCloseBtn" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="max-height: 350px; overflow:scroll;">
        <form [formGroup]="contentQuestionDetailsFG">
            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Question body</mat-label>
                    <div class="input-group" >
                        <input matInput formControlName="questionBodyDetails" readonly>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Created by</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="questionCreatedByDetails" readonly>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Created at</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="questionCreatedAtDetails" readonly>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>For position</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="questionPositionDetails" readonly>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group" style="width: 90%; margin: 0 auto;">
                <mat-accordion>
                    <mat-expansion-panel (opened)="answerQuestionDetailsPanel = true"
                                         (closed)="answerQuestionDetailsPanel = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>Available answers</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="card-wrapper" style="width: 90%; margin: 0 auto;">
                            <igx-card *ngFor="let questionAnswer of questionAnswers" class="mt-3">
                                <igx-card-header>
                                    <h5 igxCardHeaderSubtitle>Answer body: {{questionAnswer.answerBody}}</h5>
                                    <h5 igxCardHeaderSubtitle>Created by: {{questionAnswer.createdBy}}</h5>
                                    <h5 igxCardHeaderSubtitle>Created at: {{questionAnswer.createdAt}}</h5>
                                </igx-card-header>
                            </igx-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <p style="float: right;" (click)="openQuestionAnswerCreator(contentQuestionAnswerCreator)"><i class="fas fa-plus-square mr-1" style="color: blue;"></i>Add answer</p>
            </div>
        </form>
       
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>



<!-- Question update modal form -->
<ng-template #contentQuestionUpdate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update question details</h4>
      <button id="contentQUpdateBtnDismiss" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="max-height: 350px; overflow:scroll;">
        <form [formGroup]="contentQuestionUpdateFG">
            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Question body</mat-label>
                    <div class="input-group" >
                        <textarea matInput formControlName="questionBodyUpdate"></textarea>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Created by</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="questionCreatedByUpdate" readonly>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>Created at</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="questionCreatedAtUpdate" readonly>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 90%;">
                    <mat-label>For position</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="questionPositionUpdate" readonly>
                    </div>
                </mat-form-field>
            </div>

            <div class="form-group text-center">
                <button mat-raised-button color="primary" (click)="updateQuestion()">Update question details</button>
            </div>
        </form>
       
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <!-- Question remove modal -->
  <ng-template #contentQuestionDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4 class="mb-4 text-center">Are you sure you want to delete this record?</h4>
      <div class="text-center"> 
        <button data-dismiss="modal" class="btn btn-danger mt-2 mb-2" (click)="removeQuestion()">Yes, delete</button> 
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>

  <!-- Answer creator modal form -->
  <ng-template #contentQuestionAnswerCreator let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Answers creator</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="questionAnswerAdderFG">
            <div formArrayName="items" *ngFor="let item of questionAnswerAdderFG.get('items')!['controls']; let i = index;">
              <div [formGroupName]="i">
                <mat-form-field appearance="outline" style = "width: 100%">
                  <textarea matInput formControlName="answerBody" placeholder="Answer body" required></textarea>
                </mat-form-field>
                <p style="font-weight: bold; font-size: 14px;" (click)="removeItem(i)" *ngIf="i > 0"><i class="fas fa-minus-square mr-1" style="color:red;"></i>Remove answer</p>
              </div>
            </div>
            <p style="font-weight: bold; font-size: 14px;" (click)="addItem()"><i class="fas fa-plus-square mr-1" style="color:blue;"></i>Add answer</p>
            <div class="container">
                <button mat-raised-button (click)="submitAnswers()">Submit answers</button>
            </div>
        </form>
    </div>
  </ng-template>