<app-navbar></app-navbar>

<div class="d-flex toggled" id="wrapper">
    <!-- Sidebar -->


    <div class="bg-light border-right" id="sidebar-wrapper">
        <!-- Old sidebar place -->

        <!-- End of old sidebar place -->
        <app-sidebar></app-sidebar>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- Old navbar position -->

        <!-- End of old navbar position -->

        <div class="container-fluid mt-4 w-100">
            <router-outlet></router-outlet>
            <!-- Login form no.1 for Employees -->
            <div id="userLoginModal" class="modal fade" #loginModal>
                <div class="modal-dialog modal-login">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">User Login</h4>
                            <button id="loginDismissBtn" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form #loginForm="ngForm" (ngSubmit)="doLogin()">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    <input type="text" id="emailAddress" class="form-control" placeholder="Email adress" name="emailAddress" [(ngModel)]="model.emailAddress" required>
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" id="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" required>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="logoutModal" class="modal fade">
                <div class="modal-dialog modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Logout</h4>
                            <button id="logoutDismissBtn" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form #loginForm="ngForm" (ngSubmit)="doLogout()">
                                <div class="form-group">
                                    <label>Are you sure you want to logout?</label>
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Logout">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="notificationModal" class="modal fade" *ngIf="enabledNotifications === true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Notifications</h4>
                            <button id="btnDismiss" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="notification-body" *ngIf="availableNotifications.length > 0; else notificationNoRecords">
                                <div *ngFor="let availableNotification of availableNotifications">
                                    <div class="card-wrapper">
                                        <igx-card class="mt-2">
                                            <igx-card-header>
                                                <h5 igxCardHeaderTitle>{{availableNotification.title}}</h5>
                                                <h5 igxCardHeaderSubtitle>Sent at: {{availableNotification.timestamp}}</h5>
                                                <a class="mt-1" igxCardHeaderSubtitle style="font-weight: bold; font-size: 17px;" (click)="SendData(availableNotification)">See more details</a>
                                                <br>
                                                <!-- <button mat-mini-fab color="primary" style="width: 30px; height: 30px;" class="mr-1 mt-1" (click)="SendData(availableNotification)">
                          <i class="fas fa-arrow-right" style="margin-bottom: 15px;"></i>
                        </button> -->
                                                <button mat-mini-fab color="warn" class="mt-3 mr-2" style="width: 30px; height: 30px;" (click)="removeNotification(availableNotification)">
                          <i class="fas fa-trash-alt" style="margin-bottom: 15px;"></i>
                        </button>
                                                <!-- style="position: absolute; right: 0; margin-right: 30px; margin-top: 20px;" -->
                                                <br>
                                            </igx-card-header>
                                        </igx-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #notificationArrayZero>
                <div class="notification-container">
                    <h5 class="text-center mb-2">There are no notifications available</h5>
                </div>
            </ng-template>

            <ng-template #notificationNoRecords>
                <div class="notification-body">
                    <h5 class="text-center mb-3">There are no notifications available</h5>
                </div>
            </ng-template>

        </div>
        <footer>
            <app-footer></app-footer>
        </footer>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<ng-template #RecruiterMenu>

</ng-template>

<ng-template #stillLoading>
    <p>Loading...</p>
</ng-template>

<ng-template #stillLoadingRoles>
    <p>Loading...</p>
</ng-template>

<ng-template #stillLoadingAnonymousCheck>
    <p>Loading...</p>
</ng-template>