<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center mt-4">
        <igx-avatar id="userIcon" src="{{profilePhotoURL}}" [roundShape]="true" size="large" style="visibility: visible;"></igx-avatar>
        <h5 style="font-size: 20px;" *ngIf="obtainedUser; else stillLoading">Welcome back, <br/> <a href="{{redirectProfileLink}}" style="color:black; text-decoration: none;"><span style="font-weight: bold;">{{obtainedUser.firstName}} {{obtainedUser.lastName}}</span></a></h5>
        <hr class="mt-3">
        <h5>Available options</h5>
    </div>
    <div class="list-group list-group-flush" *ngIf="obtainedUser; else stillLoadingRoles">
        <a href="#" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-house-user"></i></span> Home
        </a>
        <!-- <a *ngIf="obtainedUser.role === 'Recruiter'" href="/candidates" class="list-group-item list-group-item-action bg-light">
        <span class="mr-2"><i class="fas fa-users"></i></span>  
        Candidates
      </a> -->
        <a *ngIf="obtainedUser.role === 'Recruiter' || obtainedUser.role === 'Administrator'" href="/positions" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-briefcase"></i></span> Positions
        </a>
        <a *ngIf="obtainedUser.role === 'Recruiter' || obtainedUser.role === 'Administrator'" href="/submissions" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-file-alt"></i></span> Submissions
        </a>
        <a *ngIf="obtainedUser.role === 'Anonymous' || obtainedUser.role === 'Candidate registered'" href="/applications" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-file-alt"></i></span> Application
        </a>
        <a *ngIf="obtainedUser.role === 'Administrator'" href="/register_user" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-file-alt"></i></span> Register
        </a>
        <a *ngIf="obtainedUser.role === 'Candidate registered'" href="/user/options" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-user-edit"></i></span> User settings
        </a>
        <a *ngIf="obtainedUser.role === 'Recruiter'" href="/interviews" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-calendar-alt"></i></span> Interviews
        </a>
        <a *ngIf="obtainedUser.role === 'Manager departament resurse umane'" href="/manager/panel" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-columns"></i></span> Manager panel
        </a>
        <a *ngIf="obtainedUser.role === 'Administrator'" href="/admin" class="list-group-item list-group-item-action bg-light">
            <span class="mr-2"><i class="fas fa-columns"></i></span> Admin panel
        </a>
    </div>
</div>

<!-- ng-templates -->
<ng-template #stillLoading>
    <p>Loading ...</p>
</ng-template>

<ng-template #stillLoadingRoles>
    <p>Loading ...</p>
</ng-template>