/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}


/* #page-content-wrapper {
    min-width: 100vw;
  } */


/* #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  } */

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    /* #page-content-wrapper {
    min-width: 0;
    width: 100%;
  } */
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/* body {
      font-family: 'Varela Round', sans-serif;
  }

  .modal-login {
      color: #636363;
      width: 350px;
  }
  .modal-login .modal-content {
      padding: 20px;
      border-radius: 5px;
      border: none;
  }
  .modal-login .modal-header {
      border-bottom: none;
      position: relative;
      justify-content: center;
  }
  .modal-login h4 {
      text-align: center;
      font-size: 26px;
  }
  .modal-login  .form-group {
      position: relative;
  }
  .modal-login i {
      position: absolute;
      left: 13px;
      top: 11px;
      font-size: 18px;
  }
  .modal-login .form-control {
      padding-left: 40px;
  }
  .modal-login .form-control:focus {
      border-color: #00ce81;
  }
  .modal-login .form-control, .modal-login .btn {
      min-height: 40px;
      border-radius: 3px; 
  }
  .modal-login .hint-text {
      text-align: center;
      padding-top: 10px;
  }
  .modal-login .close {
      position: absolute;
      top: -5px;
      right: -5px;
  }
  .modal-login .btn, .modal-login .btn:active {	
      border: none;
      background: #00ce81 !important;
      line-height: normal;
  }
  .modal-login .btn:hover, .modal-login .btn:focus {
      background: #00bf78 !important;
  }
  .modal-login .modal-footer {
      background: #ecf0f1;
      border-color: #dee4e7;
      text-align: center;
      margin: 0 -20px -20px;
      border-radius: 5px;
      font-size: 13px;
      justify-content: center;
  }
  .modal-login .modal-footer a {
      color: #999;
  } */


/* .trigger-btn {
      display: inline-block;
      margin: 100px auto;
  } */

.igx-avatar {
    background: grey;
    color: white;
}