<div class="col-12">
    <div class="row">
        <div class="col-sm-4" style="margin: 0 auto;">
            <div class="container">
                <h5 class="text-center font-weight-bold">Job Submission form</h5>
                <p class="text-center">*Follow the steps from below to complete job submission</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" style="margin:0 auto;">
            <mat-horizontal-stepper #stepper>
                <mat-step [stepControl]="positionsFormGroup">
                    <form [formGroup]="positionsFormGroup">
                        <ng-template matStepLabel> Position details </ng-template>
                        <mat-form-field appearance="outline">
                            <mat-label>Position name</mat-label>
                            <input matInput formControlName="positionName" readonly>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="positionDescription" readonly></textarea>
                        </mat-form-field>
                        <div class="container-buttons">
                            <button mat-raised-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="personalDetailsFormGroup" errorMessage="Fill out all fields">
                    <form [formGroup]="personalDetailsFormGroup">
                        <ng-template matStepLabel> Personal details </ng-template>
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>First name</mat-label>
                                    <input type="text" matInput formControlName="firstName" placeholder="First name">
                                    <mat-hint align="start"><strong>First name here</strong></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3 ml-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Last name</mat-label>
                                    <input type="text" matInput formControlName="lastName" placeholder="Last name">
                                    <mat-hint align="start"><strong>Last name here</strong></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>Address</mat-label>
                            <input matInput type="text" formControlName="address">
                            <mat-hint align="start"><strong> Address here </strong></mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Phone number</mat-label>
                            <input matInput formControlName="phoneNumber">
                            <mat-hint align="start"><strong> Phone number here </strong></mat-hint>
                        </mat-form-field>
                        <br>
                        <button mat-raised-button matStepperPrevious>Previous</button>
                        <button mat-raised-button matStepperNext>Next</button>
                    </form>
                </mat-step>

                <mat-step [stepControl]="accountDetailsFormGroup" errorMessage="Fill out all fields">
                    <form [formGroup]="accountDetailsFormGroup">
                        <ng-template matStepLabel> Account details </ng-template>
                        <mat-form-field appearance="outline">
                            <mat-label> E-mail address </mat-label>
                            <input matInput type="email" formControlName="emailAddress" placeholder="E-mail adress">
                            <mat-hint align="start"> Type Email address here </mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label> Password </mat-label>
                            <input matInput type="password" formControlName="password" placeholder="Password">
                            <mat-hint align="start"> Type your password here </mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label> Security Question </mat-label>
                            <mat-select formControlName="securityQuestion">
                                <mat-option value="Nothing selected yet"> Nothing selected yet </mat-option>
                                <mat-option value="What is your favorite name?">What is your favorite Name?</mat-option>
                                <mat-option value="What's your favorite dog?">What's your favorite dog?</mat-option>
                            </mat-select>
                            <mat-hint align="start"> Choose one security question from list </mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label> Answer </mat-label>
                            <input matInput type="text" formControlName="securityQuestionAnswer" placeholder="Security question answer">
                            <mat-hint align="start"> Type security question answer here </mat-hint>
                        </mat-form-field>
                        <br>
                        <div class="file-selection">
                            <label *ngIf="availableFileField">Select your CV</label>
                            <input type="file" id="file" (change)="storeTempFile($event)" class="form-control" style="width: 50%; margin: 0 auto; height: auto;" *ngIf="availableFileField">
                        </div>

                        <button mat-raised-button matStepperPrevious>Previous</button>
                        <button mat-raised-button matStepperNext>Next</button>
                    </form>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel> Submit your application </ng-template>
                    <div class="container">
                        <p>You succesfully completed all fields. Now you can submit your application for the selected job</p>
                        <div class="container">
                            <button mat-raised-button color="primary" (click)="applicationRegistration()"> Submit job application </button>
                        </div>

                        <div>
                            <button mat-raised-button matStepperPrevious> Back </button>
                            <button mat-raised-button> Reset </button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>