<div class="col-12">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="twoStepForm" autocomplete="off" novalidate (ngSubmit)="loginUser(twoStepForm.value)">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h5 class="font-weight-bold">Two-factor authentication</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mt-4" style="background-color: white; border-radius: 10px; margin: 0 auto;">
                            <p class="text-center">Enter your 6 digit code received by email</p>
                            <mat-form-field appearance="outline" style="width: 80%; display: block; margin: 0 auto;">
                                <mat-label>Code here</mat-label>
                                <div class="input-group">
                                    <input matInput type="number" formControlName="tokenCode" [errorStateMatcher]="tokenMatcher">
                                </div>
                                <mat-hint><span>Token code received by email address</span></mat-hint>
                                <mat-error *ngIf="twoStepForm.get('tokenCode')!.hasError('required')">
                                    Token code is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="twoStepForm.get('tokenCode')!.hasError('min')">
                                    Token code must have <strong>6 characters minimum</strong>
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button class="mb-3 mt-3" type="submit" color="primary" style="width: 80%; height: 45px; display: block; margin: 0 auto;">
                                Log in
                            </button>
                            <p class="text-center">Not received code? <span class="font-weight-bold">Try another method</span></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="col-sm-10">
    <mat-form-field appearance="outline">
        <mat-label>Token code</mat-label>
        <div class="input-group">
            <input matInput type="text" formControlName="tokenCode">
        </div>
    </mat-form-field>
</div>
</div>
<div class="row">
<button mat-raised-button color="primary" type="submit">Submit</button>
</div> -->