<div class="container col-9">
    <div class="container">
        <h3 class="text-center">Available candidates</h3>
        <hr class="mt-3 mb-1" style="width: 60%; margin: 0 auto;">
        <p class="mb-5 text-center">List of candidates that is currently applying for vacant positions</p>
    </div>

    <div class="container-options">
        <button mat-raised-button class="mt-2" style="float:right; font-weight: bold; background-color: black; color: white;" (click)="exportData()">
            <i class="fas fa-file-excel mr-1"></i>
            Export data
        </button>
    </div>

    <!-- <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Candidate complete name</th>
                <th>Applied position name</th>
                <th>Submission date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let availableSubmission of availableSubmissions">
                <td><span>{{availableSubmission.user!.firstName}} {{availableSubmission.user!.lastName}}</span></td>
                <td><span>{{availableSubmission.appliedPosition.positionName}}</span></td>
                <td><span>{{availableSubmission.dateOfSubmission | date: 'dd/MM/yyyy HH:mm:ss'}}</span></td>
                <td class="text-center">
                    <button mat-raised-button class="mr-1" color="primary" (click)="openDetails(contentDetails, availableSubmission)">
                      <i class="far fa-file-alt mr-1"></i>More details</button>
                    <button mat-raised-button class="mr-1" style="background-color: gold;" (click)="openApproval(contentApproval, availableSubmission)">
                      <i class="fas fa-vote-yea mr-1"></i>Approve candidate</button>
                    <button mat-raised-button class="mr-1" color="warn" (click)="openRejection(contentRejection, availableSubmission)">
                      <i class="fa fa-trash mr-1"></i>Rejection form</button>
                    <button mat-raised-button class="mr-1" style="background-color: black; color:white;" (click)="openRequest(contentRequest, availableSubmission)">
                      <i class="fas fa-users-cog mr-1"></i>Request a change</button>
                  </td>
            </tr>
        </tbody>
    </table> -->

    <div class="container-search">
        <mat-form-field class="mr-3" style="float:right;">
            <mat-icon matSuffix>search</mat-icon>
            <input matInput id="typer" (keyup)="applyFilter($event.target)" placeholder="Search">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="completeName">
            <th mat-header-cell *matHeaderCellDef> Candidate complete name </th>
            <td mat-cell *matCellDef="let availableSubmission"> {{availableSubmission.user!.firstName}} {{availableSubmission.user!.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="completeNameFilter">
            <th mat--header-cell *matHeaderCellDef>
                <mat-form-field class="ml-3">
                    <input matInput (keyup)="applyNameFilter($event.target)" placeholder="Name filter">
                </mat-form-field>
                <hr>
            </th>
        </ng-container>

        <ng-container matColumnDef="positionName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="positionName"> Applied for position </th>
            <td mat-cell *matCellDef="let availableSubmission">{{availableSubmission.appliedPosition.positionName}}</td>
        </ng-container>

        <ng-container matColumnDef="positionNameFilter">
            <th mat--header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input matInput (keyup)="applyPositionFilter($event.target)" placeholder="Position filter">
                </mat-form-field>
                <hr>
            </th>
        </ng-container>

        <ng-container matColumnDef="submissionDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="submissionDate">Submission date</th>
            <td mat-cell *matCellDef="let availableSubmission">{{availableSubmission.dateOfSubmission | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        </ng-container>

        <ng-container matColumnDef="submissionDateFilter">
            <th mat--header-cell *matHeaderCellDef>
                <!-- From:
                <mat-datepicker #picker></mat-datepicker>
                <button mat-icon-button class="mt-4" (click)="picker.open()">
                    <mat-icon class="mb-4">calendar_today</mat-icon>
                </button>
                To:
                <button mat-icon-button class="mt-4">
                    <mat-icon class="mb-4">calendar_today</mat-icon>
                </button> -->
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate [(ngModel)]="fromDate" placeholder="Start date" #dateRangeStart>
                        <input matEndDate [(ngModel)]="toDate" placeholder="End date" #dateRangeEnd (dateChange)="applySubmissionDateFilter(dateRangeStart, dateRangeEnd)" disabled>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix (click)="resetForm()">
                        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <!-- <mat-form-field class="ml-2">
                    <input matInput placeholder="To">
                </mat-form-field> -->
                <hr>
            </th>
        </ng-container>

        <ng-container matColumnDef="moreDetails">
            <th mat-header-cell *matHeaderCellDef>Details</th>
            <th mat-cell *matCellDef="let availableSubmission">
                <button mat-icon-button color="primary" (click)="openDetails(contentDetails, availableSubmission)">
                    <i class="far fa-file-alt"></i></button>
            </th>
        </ng-container>

        <ng-container matColumnDef="approveCandidate">
            <th mat-header-cell *matHeaderCellDef>Approve candidate</th>
            <th mat-cell *matCellDef="let availableSubmission">
                <button mat-icon-button class="ml-4" (click)="openApproval(contentApproval, availableSubmission)">
                    <i class="fas fa-vote-yea"></i></button>
            </th>
        </ng-container>

        <ng-container matColumnDef="rejectCandidate">
            <th mat-header-cell *matHeaderCellDef>Reject candidate</th>
            <th mat-cell *matCellDef="let availableSubmission">
                <button mat-icon-button class="ml-3" color="warn" (click)="openRejection(contentRejection, availableSubmission)">
                    <i class="fa fa-trash"></i></button>
            </th>
        </ng-container>

        <ng-container matColumnDef="requestChange">
            <th mat-header-cell *matHeaderCellDef>Request a change</th>
            <th mat-cell *matCellDef="let availableSubmission">
                <button mat-icon-button class="ml-3" (click)="openRequest(contentRequest, availableSubmission)">
                    <i class="fas fa-users-cog"></i></button>
            </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsFilters"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator (page)="pageChangeEvent($event)" [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>

<!-- Candidate details tracking -->
<ng-template #contentDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Candidate submission details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="candidateSubmissionDetails">
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate first name</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateFirstName" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate last name</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateLastName" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate date of birth</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateDateOfBirth" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate address</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateAddress" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate email address</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateEmailAddress" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate phone number</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidatePhoneNumber" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Submission date</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateSubmissionDate" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Applied position</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateAppliedPosition" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate current status</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateCurrentStatus" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group text-center">
                <button mat-raised-button class="mr-1" style="background-color: black; color:white;" (click)="openAttachedCV()">
                    <i class="fas fa-paperclip mr-1"></i>Open attached CV</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- Candidate approval form -->
<ng-template #contentApproval let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Candidate approval form</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="candidateApproval">
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate first name</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateFirstNameApproval" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate last name</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateLastNameApproval" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate email address</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateEmailAddressApproval" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate phone number</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidatePhoneNumberApproval" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Submission date</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateSubmissionDateApproval" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Applied position</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateAppliedPositionApproval" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate current status</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateCurrentStatusApproval" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group" class="text-center">
                <button mat-raised-button color="primary" (click)="approveCandidate()">Approve candidate</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- Candidate rejection form -->
<ng-template #contentRejection let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Candidate rejection form</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="candidateRejection">
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate first name</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateFirstNameRejection" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate last name</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateLastNameRejection" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate email address</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateEmailAddressRejection" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate phone number</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidatePhoneNumberRejection" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Submission date</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateSubmissionDateRejection" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Applied position</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateAppliedPositionRejection" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Candidate current status</mat-label>
                    <div class="input-group">
                        <input matInput formControlName="candidateCurrentStatusRejection" style="padding:10px;" readonly>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group" class="text-center">
                <button mat-raised-button color="warn" (click)="rejectSubmission()">Reject submission</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- Request a change form -->
<ng-template #contentRequest let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Request form</h4>
        <button type="button" id="auto_trigger_close_request" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group text-center">
                <div class="field-title">
                    <h5>Request a change of status</h5>
                    <p>*After approval of admin the status of candidate will be set to default</p>
                </div>
                <div class="field-button">
                    <button mat-raised-button color="primary" (click)="requestStatusChange()">Request change</button>
                </div>
            </div>
            <hr class="mt-3 mb-3">
            <div class="form-group text-center">
                <div class="field-title">
                    <h5>Request a candidate removal</h5>
                    <p>*After this request, the admin will remove the current candidate from database</p>
                </div>
                <div class="field-button">
                    <button mat-raised-button color="warn" (click)="requestCandidateRemoval()">Request a removal</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>