<div class="container">
    <div class="container-title text-center">
        <h3>Select one option from below</h3>
        <hr style="width: 80%; margin: 0 auto; margin-top: 20px;">
    </div>

    <div class="card-wrapper" *ngIf="obtainedUser; else stillLoading">
        <igx-card class="mt-4" *ngIf="obtainedUser.role === 'Candidate registered'">
            <igx-card-header>
                <h3 igxCardHeaderTitle>Current applications</h3>
                <h5 igxCardHeaderSubtitle>View your current application on jobs</h5>
                <h5 igxCardHeaderSubtitle>No. of applications submitted: <span style="font-weight: bold;">{{noOfSubmissions}}</span></h5>
                <button mat-raised-button color="primary" style="width: 20px; height: 50px;" class="mt-2" (click)="transferDataToChild()">></button>
            </igx-card-header>
        </igx-card>

        <igx-card class="mt-4">
            <igx-card-header>
                <h3 igxCardHeaderTitle>Profile</h3>
                <h5 igxCardHeaderSubtitle>View your personal profile details</h5>
                <a href="/profile"><button mat-raised-button color="primary" style="width: 20px; height: 50px;" class="mt-2">></button></a>
            </igx-card-header>
        </igx-card>

        <igx-card class="mt-4">
            <igx-card-header>
                <h3 igxCardHeaderTitle>Settings</h3>
                <h5 igxCardHeaderSubtitle>View your personal settings</h5>
                <button mat-raised-button color="primary" style="width: 20px; height: 50px;" class="mt-2" (click)="transferDataToSettings()">></button>
            </igx-card-header>
        </igx-card>
    </div>
</div>

<ng-template #stillLoading>
    <p>Loading ...</p>
</ng-template>