<div class="col-12">
    <div class="row">
        <div class="col-sm-2">
            <p><span style="font-weight: bold;"> User profile </span> / Profile settings</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5" style="background-color: white; border-radius: 10px;">
            <div>
                <p style="color: #4F5D75;"><span class="font-weight-bold">User profile settings list</span> <span class="ml-2 mr-2">|</span> List of all available settings regardin user profile</p>
            </div>

            <div class="row ml-1 mb-5">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="fas fa-bell mt-1 mr-2"></i> Notification settings
                            </mat-panel-title>
                            <mat-panel-description>
                                Press click to change notification settings
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-sm-8">
                                <mat-slide-toggle color="primary" [(ngModel)]="isChecked" (change)="onChange($event)" [disabled]="isDisabled">Enable/disable in-app notifications</mat-slide-toggle>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion class="mt-4">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="fas fa-shield-alt mt-1 mr-2"></i> Enable two-factor authentication
                            </mat-panel-title>
                            <mat-panel-description>
                                Press click to change authentication settings
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-sm-8">
                                <mat-slide-toggle color="primary" [(ngModel)]="isCheckedTwoFactor" (change)="onChangeAuth($event)" [disabled]="isDisabledTwoFactor">Enable/disable two-factor authentication</mat-slide-toggle>
                            </div>
                        </div>
                        <div class="row mt-2" *ngIf="isCheckedTwoFactor === true">
                            <div class="col-sm-8">
                                <mat-slide-toggle color="primary" [(ngModel)]="isCheckedTwoFactorEmail" (change)="onChangeAuth($event)" [disabled]="isDisabledTwoFactorEmail">Enable/disable two-factor by email</mat-slide-toggle>
                                <mat-slide-toggle color="primary" class="mt-2" [(ngModel)]="isCheckedTwoFactorGoogle" (change)="onChangeGoogleAuth($event)" [disabled]="isDisabledTwoFactorGoogle">Enable/disable two-factor by Google</mat-slide-toggle>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>