<!-- <form class="form-register" #registerForm = "ngForm" (ngSubmit)="register(registerForm)">
    <div class="container-fluid">
        <h2 class="form-register-heading">Register</h2> -->
        <!-- <div *ngIf="invalidRegister" class="alert alert-danger">Invalid data inserted</div> -->
        <!-- <br>
        <label for="firstName" class="sr-only">First name</label>
        <input type="text" id="firstName" name="firstName" ngModel class="form-control" placeholder="First name"
            required autofocus>
        <br>
        <label for="lastName" class="sr-only">Last name</label>
        <input type="text" id="lastName" name="lastName" ngModel class="form-control" placeholder="Last name"
            required>
        <br>
        <label for="address" class="sr-only">Address</label>
        <input type="text" id="address" name="address" ngModel class="form-control" placeholder="Adress"
            required>
        <br>
        <label for="phoneNumber" class="sr-only">Phone number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" ngModel class="form-control" placeholder="Phone number"
            required>
        <br>
        <label for="emailAddress" class="sr-only">Email address</label>
        <input type="text" id="emailAddress" name="emailAddress" ngModel class="form-control" placeholder="Email address"
            required>
        <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password"
            required>
        <br>
        <button class="btn bth-lg btn-primary btn-blocks" type="submit">Register</button>
    </div>


</form> -->


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>Lorem ipsum dolores!</p>
            <input type="submit" name="" value="Login"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                </li>
            </ul> -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Employee registration form</h3>
                    <form [formGroup] = "employeeRegistrationGroup" (ngSubmit)="registerEmployee()">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input [class.is-invalid]="firstName?.invalid && firstName?.touched" formControlName="firstName" type="text" class="form-control" placeholder="First Name *" value="" />
                            </div>
                            <div *ngIf="(firstName?.invalid && firstName?.touched) || firstName?.dirty">
                                <small *ngIf="firstName?.errors?.required" class="text-danger">The first name is required</small>
                            </div>


                            <div class="form-group">
                                <input [class.is-invalid] = "lastName?.invalid && lastName?.touched" formControlName="lastName" type="text" class="form-control" placeholder="Last Name *" value="" />
                            </div>
                            <div *ngIf="(lastName?.invalid && lastName?.touched) || lastName?.dirty">
                                <small *ngIf="lastName?.errors?.required" class="text-danger">The last name is required</small>
                            </div>

                            
                            <div class="form-group">
                                <input [class.is-invalid] = "password?.invalid && password?.touched" formControlName = "password" type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div *ngIf="(password?.invalid && password?.touched) || password?.dirty">
                                <small *ngIf="password?.errors?.required" class="text-danger">The password field is required</small>
                            </div>


                            <div class="form-group">
                                <input [class.is-invalid] = "passwordConfirm?.invalid && passwordConfirm?.touched" formControlName = "passwordConfirm" type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                            </div>
                            <div *ngIf="(passwordConfirm?.invalid && passwordConfirm?.touched) || passwordConfirm?.dirty">
                                <small *ngIf="passwordConfirm?.errors?.required" class="text-danger">The confirm password field is required</small>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input [class.is-invalid] = "email?.invalid && email?.touched" formControlName = "email" type="email" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
                                <small *ngIf="email?.errors?.required" class="text-danger">The email field is required</small>
                            </div>

                            <div class="form-group">
                                <input [class.is-invalid] = "phoneNumber?.invalid && phoneNumber?.touched" formControlName = "phoneNumber" type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <select [class.is-invalid] = "securityQuestion?.invalid && securityQuestion?.touched" formControlName = "securityQuestion" class="form-control" >
                                    <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input [class.is-invalid] = "answer?.invalid && answer?.touched" formControlName = "answer" type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Make an account"/>
                        </div>
                    </div>
                </form>
                </div>
                <!-- <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Apply as a Hirer</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="`Answer *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Register"/>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</div>