<div class="col-12">
    <div class="row">
        <div class="col-sm-8">
            <p><span style="font-weight: bold;">Admin panel</span> / Admin panel</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <mat-card class="mt-2 ">
                <mat-card-header>
                    <div mat-card-avatar>
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <mat-card-title>
                        Employee options
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper elit quis urna convallis finibus. Aliquam egestas nibh eu elit ornare, et semper eros convallis.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button><a href="/admin/employees" style="color:black;">Access page</a></button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="mt-2 ">
                <mat-card-header>
                    <div mat-card-avatar>
                        <i class="fas fa-users "></i>
                    </div>
                    <mat-card-title>
                        Candidate options
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper elit quis urna convallis finibus. Aliquam egestas nibh eu elit ornare, et semper eros convallis.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button><a href="/admin/candidates" style="color:black;">Access page</a></button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="mt-2 ">
                <mat-card-header>
                    <div mat-card-avatar>
                        <i class="fas fa-sliders-h"></i>
                    </div>
                    <mat-card-title>
                        Other options
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper elit quis urna convallis finibus. Aliquam egestas nibh eu elit ornare, et semper eros convallis.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button><a href="/admin/options" style="color:black;">Access page</a></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-6 ml-2">
            <mat-tab-group>
                <mat-tab label="Audit trails">
                    <div class="container">
                        <p><span style="font-weight: bold;">Audit trails</span> | No. of actions taken in the last 7 days</p>
                    </div>
                    <dx-chart id="chart" [dataSource]="chartData" class="mt-3">
                        <dxi-series argumentField="date" valueField="noOfActions" name="No. of actions taken" type="bar" color="#ffaa66"></dxi-series>
                    </dx-chart>
                </mat-tab>
                <mat-tab label="Employees">
                    <div class="container">
                        <p><span style="font-weight: bold;">Employees statistics</span> | No. of employees per department</p>
                    </div>
                    <dx-pie-chart id="pie" title="No. of employees" palette="bright" [dataSource]="employeeChartData">
                        <dxo-legend orientation="horizontal" itemTextPosition="right" horizontalAlignment="center" verticalAlignment="bottom" [columnCount]="4"></dxo-legend>
                        <!-- <dxo-export [enabled]="true"></dxo-export> -->
                        <dxi-series argumentField="department" valueField="noOfEmployees">
                            <dxo-label [visible]="true" position="columns">
                                <dxo-font [size]="16"></dxo-font>
                                <dxo-connector [visible]="true" [width]="0.5"></dxo-connector>
                            </dxo-label>
                        </dxi-series>
                    </dx-pie-chart>
                </mat-tab>
                <mat-tab label="Candidates">
                    <div class="container">
                        <p><span style="font-weight: bold;">Submissions data</span> | Lorem ipsum dolores</p>
                    </div>
                    <dx-chart id="chart" [dataSource]="submissionChartData" class="mt-3">
                        <dxi-series argumentField="date" valueField="noOfSubmissions" name="No. of submissions" type="bar" color="#ffaa66"></dxi-series>
                    </dx-chart>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>