<div class="container light-style flex-grow-1 container-p-y">

    <div class="profile-text-header text-center mt-2 mb-5" style="font-weight: bold;" *ngIf="obtainedUser; else stillLoading">
        <h4>Welcome back, <br /><span>{{this.obtainedUser.firstName}} {{this.obtainedUser.lastName}}</span></h4>
    </div>

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">

              <div class="card-body media align-items-center">
                <igx-avatar id="userIcon" src="{{profilePhotoUrl}}" [roundShape] = "true" size="large" style="visibility: visible; margin: 0 auto;"></igx-avatar>
                <div class="upload">
                    <img src="https://cdn3.iconfinder.com/data/icons/essential-rounded/66/Rounded-06-512.png" style="position: absolute; top: 75px; left: 430px; z-index: 999; border-radius:50%; max-width: 35px; max-height: 35px;" (click)="openFileChoser()">
                    <input type="file" id="myFile" style="display: none;" (change)="uploadProfilePhoto($event)">
                </div>
              </div>
              <hr class="border-light m-0">

              <div class="card-body">
                <form class="profile-form" [formGroup]="profileDetailsForm">
                    <mat-form-field class="example-full-width">
                        <img matPrefix class="input-icon" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
                        <mat-label>User complete first name</mat-label>
                        <input matInput formControlName="firstName" class="form-control">
                    </mat-form-field>
                <br>
                    <mat-form-field class="example-full-width">
                        <img matPrefix class="input-icon" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
                        <mat-label>User complete last name</mat-label>
                        <input matInput formControlName="lastName" class="form-control">
                    </mat-form-field>
                <br>
                    <mat-form-field class="example-full-width">
                        <img matPrefix class="input-icon" src="https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/home-256.png" alt="">
                        <mat-label>Complete address details</mat-label>
                        <input matInput formControlName="address" class="form-control">
                    </mat-form-field>
                <br>
                    <mat-form-field class="example-full-width">
                        <img matPrefix class="input-icon" src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/contact-256.png" alt="">
                        <mat-label>Email address</mat-label>
                        <input type="email" matInput formControlName="emailAddress" class="form-control">
                    </mat-form-field>
                <br>
                    <mat-form-field class="example-full-width">
                        <mat-label>Date of birth</mat-label>
                        <img matPrefix class="input-icon" src="https://www.clipartmax.com/png/middle/300-3006083_calendar-comments-calendar-icon-vector-png.png">
                        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" class="form-control">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  <br>
                    <div class="form-group text-right" style="margin-right: 60px;">
                        <button mat-raised-button color="primary" (click)="updateCurrentDetails()">Update profile</button>
                    </div>
                </form>
              </div>

            </div>
            <div class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">
                <form [formGroup]="profilePasswordResetForm" class="password-form">
                  <div class="form-group">
                    <label class="form-label">Current password</label>
                    <input type="password" formControlName="actualPassword" class="form-control">
                  </div>

                  <div class="form-group">
                    <label class="form-label">New password</label>
                    <input type="password" formControlName="newPassword" class="form-control">
                  </div>

                  <div class="form-group">
                    <label class="form-label">Repeat new password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control">
                  </div>
                </form>
                <div class="form-group">
                  <button mat-raised-button color="primary" (click)="resetPasswordChanged()">Reset password</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #stillLoading>
    <p>Loading ...</p>
  </ng-template>