<div class="col-12">
    <div class="row">
        <div class="col-sm-8" style="background-color: #212529; border-radius: 10px;">
            <p style="color: #fff;"><span class="font-weight-bold">Roles list</span> | List of all available roles in database</p>

            <dx-data-grid #gridParticipants id="gridContainer" [dataSource]="roles" [showBorders]="true" [columnAutoWidth]="true" keyExpr="id">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="id" caption="Role id" dataType="string" alignment="center"></dxi-column>
                <dxi-column dataField="name" caption="Role name" dataType="string" alignment="center"></dxi-column>
                <dxi-column dataField="normalizedName" caption="Normalized name" dataType="string" alignment="center"></dxi-column>

                <dxi-column type="buttons" caption="Options">
                    <dxi-button [onClick]="openAssignRolePopup" icon="far fa-circle"></dxi-button>
                    <dxi-button [onClick]="openRoleRemovalPopup" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                </dxi-column>

                <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
                <div *dxTemplate="let role of 'detail'">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-5">
                                <p><span class="font-weight-bold">Assigned users</span> | Date here</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <app-role-detail [key]="role.key"></app-role-detail>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div *dxTemplate="let data of 'nameTemplate'">
                    {{data.data.firstName}} {{data.data.lastName}}
                </div> -->

            </dx-data-grid>
            <br>
        </div>
        <div class="col-sm-3 ml-2 " style="background-color: white; border-radius: 10px; ">
            <div class="box-title mb-2">
                <p style="color: #4F5D75;"><span class="font-weight-bold">Role options</span> - lorem ipsum</p>
                <hr>
            </div>
            <div class="box-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <button mat-raised-button color="primary" style="width: 160px;" (click)="openRoleCreationPopup()">
                                <i class="fas fa-plus-circle mr-1"></i> <span class="mt-4"> Create new role </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="box-footer" style="position: absolute; bottom: 0;">
                <p style="color: #4F5D75;"><i class="fas fa-hard-hat mr-1"></i>In construction</p>
            </div>
        </div>
    </div>
</div>

<!-- Role popupzone -->
<dx-popup title="Create a new role" [(visible)]="isRoleCreationAvailable" [width]="500" [height]="250">
    <div *dxTemplate="let data of 'content'">
        <form [formGroup]="roleCreationFormGroup" novalidate>
            <div class="form-group text-center">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>
                        <mat-icon>accessibility_new</mat-icon>
                        Role name
                    </mat-label>
                    <div class="input-group">
                        <input matInput type="text" formControlName="roleName" [errorStateMatcher]="roleNameMatcher">
                    </div>
                    <mat-hint>
                        <strong> Fill in the role name input </strong>
                    </mat-hint>
                    <mat-error *ngIf="roleCreationFormGroup.get('roleName')!.hasError('required')">
                        The role name field is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="roleCreationFormGroup.get('roleName')!.hasError('minlength') && !roleCreationFormGroup.get('roleName')!.hasError('required')">
                        The role name cannot have less than <strong>2 characters</strong>
                    </mat-error>
                    <mat-error *ngIf="roleCreationFormGroup.get('roleName')!.hasError('maxlength') && !roleCreationFormGroup.get('roleName')!.hasError('required')">
                        The role name cannot have more than <strong>30 characters</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <div style="float:right;">
            <button mat-raised-button color="primary" (click)="createNewRole()">
                <i class="fas fa-save" style="color:white;"></i>
                Save
            </button>
            <button mat-raised-button class="ml-2" (click)="closeRoleCreationPopup()">
                <i class="fas fa-times mr-1"></i>
                Close
            </button>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isRoleRemovalAvailable" [width]="550" [height]="300">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <h5>Are you sure you want to remove the selected role?</h5>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <button mat-raised-button class="mr-2" color="warn" (click)="removeRole()"><i class="fa fa-trash mr-1"></i>Yes</button>
                        <button mat-raised-button (click)="closeRoleRemovalPopup()"><i class=" fa fa-times mr-1 "></i>No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup title="Assign to a new role" [(visible)]="isAssignRoleAvailable" [width]="650" [height]="500">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <div class="content">
                <form [formGroup]="assignRoleFormGroup" novalidate>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-9">
                                <mat-form-field appearance="outline">
                                    <mat-label> Select a user from below </mat-label>
                                    <div class="input-group">
                                        <mat-select formControlName="user" (selectionChange)="onSelectionUserChange($event)">
                                            <mat-option *ngFor="let user of users" [value]="user.id">
                                                {{ user.firstName }} {{ user.lastName }}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <mat-accordion style="width: 100%;">
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                This is the expansion title
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                This is a summary of the content
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="box-details">
                                            <p><span class="font-weight-bold">User details</span> | see fields below</p>
                                            <div class="content-box">
                                                <p> <i class="fas fa-user mr-2"></i> User complete name: {{ crtSelectedUser.firstName }} {{ crtSelectedUser.lastName }} </p>

                                                <p> <i class="fas fa-calendar mr-2"></i> Current position: {{ crtSelectedUser.position?.positionName }} </p>

                                                <p> <i class="fas fa-map-pin mr-2"></i> Email address: {{ crtSelectedUser.email }} </p>

                                                <p> <i class="fas fa-map-pin mr-2"></i> Phone number: {{ crtSelectedUser.phoneNumber }} </p>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-10">
                                <mat-form-field appearance="outline" style="width: 70%;">
                                    <mat-label> Select a role from below </mat-label>
                                    <div class="input-group">
                                        <input matInput type="text" formControlName="role" readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <mat-accordion>
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                This is the expansion title
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                This is a summary of the content
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="box-details">
                                            <p><span class="font-weight-bold">Role details</span> | see fields below</p>
                                            <br>
                                            <div class="content-box">

                                                <p> <i class="fas fa-user mr-1"></i> Role id: {{ crtRole.id }}</p>

                                                <p> <i class="fas fa-envelope mr-1"></i> Role complete name: {{ crtRole.name }}</p>

                                                <p> <i class="fas fa-phone mr-1"></i> Role complete normalized name: {{ crtRole.normalizedName }}</p>

                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                        <div class="row mt-4 mb-1">
                            <div class="col-sm-5" style="margin-left: auto; margin-right: 0;">
                                <button mat-raised-button color="primary" (click)="assignUserToRole()"> Assign </button>
                                <button mat-raised-button class="ml-2" (click)="closeAssignRolePopup()"> Close </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup [(visible)]="isRemovalFromRoleAvailable" [width]="550" [height]="300">
    <div *dxTemplate="let data of 'content'">
        <div class="content-popup-top">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <h5>Are you sure you want to remove the selected user from role?</h5>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-10 text-center" style="margin: 0 auto;">
                        <button mat-raised-button class="mr-2" color="warn" (click)="removeUserInRole()"><i class="fa fa-trash mr-1"></i>Yes</button>
                        <button mat-raised-button><i class=" fa fa-times mr-1" (click)="closeUserInRoleRemoval()"></i>No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dx-popup>