<div class="col-12">
    <div class="row">
        <div class="col-sm-8">
            <p><span style="font-weight: bold;">Admin options</span> / Audit trail logs</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12" style="background-color: white; border-radius: 8px;">
            <div>
                <p style="color: #4F5D75;"><span class="font-weight-bold"><i class="fas fa-file-alt mr-1"></i>Audit logs</span> <span class="ml-2 mr-2">|</span> List of actions made by users <button mat-raised-button style="float: right; background-color: black;" (click)="exportAuditLogTrails()"> <i class="fas fa-file-excel" style="color: white;"></i></button></p>

            </div>

            <dx-data-grid #grid id="gridContainer" [dataSource]="auditLogs" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="userId" caption="User id" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted" cellTemplate="userIdCellTemplate"></dxi-column>
                <dxi-column dataField="type" caption="Action type" dataType="string" alignment="center" [width]="200" cellTemplate="actionCellTemplate"></dxi-column>
                <dxi-column dataField="tableName" caption="Action taken on table" dataType="string" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="dateTime" caption="Action taken on" dataType="date" alignment="center" [width]="250"></dxi-column>
                <dxi-column dataField="oldValues" caption="Old values" dataType="string" alignment="center" [width]="250" cellTemplate="oldValuesCellTemplate"></dxi-column>
                <dxi-column dataField="newValues" caption="New values" dataType="string" alignment="center" [width]="250" cellTemplate="newValuesCellTemplate"></dxi-column>
                <dxi-column dataField="affectedColumns" caption="Affected columns" dataType="string" alignment="center" [width]="250" cellTemplate="affectedColumnsCellTemplate"></dxi-column>
                <dxi-column dataField="primaryKey" caption="Primary key" dataType="string" alignment="center" [width]="250"></dxi-column>

                <div *dxTemplate="let data of 'actionCellTemplate'">
                    <span *ngIf="data.data.type === 'Create'"><i class="fas fa-plus-square" style="color: green;"></i> {{ data.data.type }}</span>
                    <span *ngIf="data.data.type ==='Update'"><i class="fas fa-pen-square" style="color: goldenrod;"></i> {{ data.data.type }}</span>
                    <span *ngIf="data.data.type === 'Delete'"><i class="fas fa-minus-square" style="color: red;"></i> {{ data.data.type }}</span>
                </div>

                <div *dxTemplate="let data of 'userIdCellTemplate'">
                    <span *ngIf="data.data.userId === null"> No user id found </span>
                    <span *ngIf="data.data.userId !== null"> {{data.data.userId}} </span>
                </div>

                <div *dxTemplate="let data of 'oldValuesCellTemplate'">
                    <span *ngIf="data.data.oldValues === null"> No old values found </span>
                    <span *ngIf="data.data.oldValues !== null"> {{data.data.oldValues}} </span>
                </div>

                <div *dxTemplate="let data of 'newValuesCellTemplate'">
                    <span *ngIf="data.data.newValues === null"> No new values found </span>
                    <span *ngIf="data.data.newValues !== null"> {{data.data.newValues}} </span>
                </div>

                <div *dxTemplate="let data of 'affectedColumnsCellTemplate'">
                    <span *ngIf="data.data.affectedColumns === null"> No affected columns found </span>
                    <span *ngIf="data.data.affectedColumns !== null"> {{data.data.affectedColumns}} </span>
                </div>
            </dx-data-grid>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <mat-tab-group>
                <mat-tab label="Form options">
                    <mat-accordion>
                        <mat-expansion-panel hideToggle class="mt-3 mb-1" style="width: 50%;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <i class="fas fa-columns mt-1 mr-2"></i> Update candidate register form fields
                                </mat-panel-title>
                                <mat-panel-description>
                                    Press to update the fields
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="container" style="line-height: 0px;">
                                <div class="example-container text-center" style="max-width: 40%;">
                                    <p>All properties</p>
                                    <div cdkDropList #availablePropertiesList="cdkDropList" [cdkDropListData]="availableProperties" [cdkDropListConnectedTo]="[finalPropertiesList]" class="example-list" (cdkDropListDropped)="drop($event)">
                                        <div class="example-box" *ngFor="let property of availableProperties" cdkDrag>{{property}}</div>
                                    </div>
                                </div>

                                <div class="example-container text-center" style="width: 40%;">
                                    <p>Current properties</p>
                                    <div cdkDropList #finalPropertiesList="cdkDropList" [cdkDropListData]="finalProperties" [cdkDropListConnectedTo]="[availablePropertiesList]" class="example-list" (cdkDropListDropped)="drop($event)">
                                        <div class="example-box" *ngFor="let finalProperty of finalProperties" cdkDrag>{{finalProperty}}</div>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button color="primary" (click)="SendNewApplicationFormat()">
                                <i class="fas fa-save mr-1"></i>
                                Save format
                            </button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-tab>
                <mat-tab label="Other options"> Other options here </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>