<div class="col-12">
    <div class="row">
        <div class="col-sm-2">
            <p><span style="font-weight: bold;">Page name</span> / Section name</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7" style="background-color: white; border-radius: 10px;">
            <div>
                <p style="color: #4F5D75;"><span class="font-weight-bold">Submissions list</span> <span class="ml-2 mr-2">|</span> List of all available submissions in database</p>
            </div>

            <dx-data-grid #grid id="gridContainer" [dataSource]="submissions" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="dateOfSubmission" caption="Submitted at" dataType="date" aligment="center" [width]="300" cssClass="cell-highlighted"></dxi-column>
                <dxi-column caption="Candidate complete name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted" cellTemplate="nameTemplate"></dxi-column>
                <dxi-column dataField="mentions" caption="Mentions" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted"></dxi-column>

                <dxi-column type="buttons" caption="Options">
                    <dxi-button [onClick]="showCV" icon="fas fa-file-pdf"></dxi-button>
                    <dxi-button [onClick]="openSubmissionUpdatePopup" icon="fa fa-edit"></dxi-button>
                    <dxi-button [onClick]="openDeleteSubmissionPopup" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                </dxi-column>

                <div *dxTemplate="let data of 'nameTemplate'">
                    {{data.data.user.firstName}} {{data.data.user.lastName}}
                </div>

            </dx-data-grid>

            <!-- Submissions Popups zone -->
            <dx-popup title="Update department details" [(visible)]="isUpdateSubmissionAvailable" [width]="500" [height]="560">
                <div *dxTemplate="let data of 'content'">
                    <form [formGroup]="submissionUpdateForm" novalidate>
                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width:70%;">
                                <mat-label> Applied for position </mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="positionName" readonly>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <mat-label> Candidate name </mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="candidateName" readonly>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <mat-label> Submitted at </mat-label>
                                <div class="input-group">
                                    <input matInput type="text" formControlName="submissionDate" readonly>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="form-group text-center">
                            <mat-form-field appearance="outline" style="width: 70%;">
                                <mat-label> Mentions </mat-label>
                                <div class="input-group">
                                    <textarea matInput formControlName="mentions" placeholder="Here you can write your mentions..."></textarea>
                                </div>
                            </mat-form-field>
                        </div>
                    </form>
                    <div style="float:right;">
                        <button mat-raised-button color="primary" (click)="updateSubmissionData()">
                    <i class="fas fa-save" style="color:white;"></i>
                    Save details
                  </button>
                        <button mat-raised-button class="ml-2" (click)="closeUpdateSubmissionPopup()">
                    Close
                  </button>
                    </div>
                </div>
            </dx-popup>

            <dx-popup [(visible)]="isDeleteSubmissionAvailable" [width]="500" [height]="300">
                <div *dxTemplate="let data of 'content'">
                    <div class="content-popup-top">
                        <h5 class="mb-4 text-center"> Are you sure you want to delete this record? </h5>
                        <div class="text-center">
                            <button mat-raised-button color="warn" (click)="onDelete()"> <i class="fa fa-trash mr-1"></i> Yes </button>
                            <button class="ml-2" mat-raised-button (click)="closeDeleteSubmissionPopup()"> <i class="fa fa-times mr-1"></i> No </button>
                        </div>
                    </div>
                </div>
            </dx-popup>

        </div>
        <div class="col-sm-3 ml-2" style="background-color: white; border-radius: 10px;">col-sm-4</div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-7" style="background-color: white;">
            <div>
                <p style="color: #4F5D75;"><span class="font-weight-bold">Candidates  list</span> <span class="ml-2 mr-2">|</span> List of all candidates stored in database</p>
            </div>

            <dx-data-grid #grid id="gridContainer" [dataSource]="candidates" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true" [visible]="true"></dxo-pager>

                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="completeName" caption="Candidate name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted"></dxi-column>
                <dxi-column dataField="positionName" caption="Position name" dataType="string" aligment="center" [width]="300" cssClass="cell-highlighted"></dxi-column>
                <dxi-column dataField="submissionDate" caption="Submitted at" dataType="date" aligment="center" [width]="300" cssClass="cell-highlighted"></dxi-column>
                <dxi-column dataField="candidateSituation" caption="Current status" dataType="string" alignment="center" [width]="300" cssClass="cell-highlighted" cellTemplate="statusTemplate"></dxi-column>

                <dxi-column type="buttons" caption="Options">
                    <dxi-button [onClick]="openRemovalProposal" icon="fa fa-trash"><i class="fa fa-trash" style="color: red !important;"></i></dxi-button>
                </dxi-column>

                <div *dxTemplate="let data of 'statusTemplate'">
                    <span *ngIf="data.data.candidateSituation === 'Waiting'"><i class="far fa-clock"></i> Waiting </span>
                    <span *ngIf="data.data.candidateSituation === 'UnderReview'"><i class="fas fa-search"></i> Under review</span>
                    <span *ngIf="data.data.candidateSituation === 'ReadyForInterview'"><i class="fas fa-desktop"></i> Ready for interview</span>
                    <span *ngIf="data.data.candidateSituation === 'Accepted'"><i class="far fa-check-circle" style="color: green;"></i> Accepted </span>
                    <span *ngIf="data.data.candidateSituation === 'Rejected'"><i class="far fa-ban" style="color: red;"></i> Rejected</span>
                </div>
            </dx-data-grid>

            <dx-popup [(visible)]="isRemovalProposalAvailable" [width]="500" [height]="300">
                <div *dxTemplate="let data of 'content'">
                    <div class="content-popup-top">
                        <h5 class="mb-4 text-center">Are you sure you want to propose the removal of this candidate?</h5>
                        <div class="text-center">
                            <button mat-raised-button color="warn" (click)="onSendRemoval()"> <i class="fa fa-trash mr-1"></i>Yes</button>
                            <button class="ml-2" mat-raised-button (click)="closeCandidateRemovalPopup()"> <i class="fa fa-times mr-1"></i>No</button>
                        </div>
                    </div>
                </div>
            </dx-popup>
        </div>
        <div class="col-sm-2 ml-2" style="background-color: white;"></div>
    </div>
</div>