<div class="col-12">
    <div class="container-personnel" *ngIf="crtUser.role !== 'Registered candidate' && crtUser.role !== 'Anonymous'">
        <div class="row">
            <div class="col-sm-2">
                <p class="font-weight-bold" style="color: #4F5D75;">Homepage</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="color: #4F5D75;">Last action in company</mat-card-title>
                        <mat-card-subtitle style="color: #4F5D75;"> Below is the description of the last action taken in the company </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p style="color: #4F5D75;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam venenatis tempor ex, non faucibus tortor tempus sit amet. Aenean interdum dolor eu consectetur aliquet. Sed ac ipsum sed sem porttitor fermentum gravida sed quam. Nam malesuada rutrum nulla
                            ac eleifend. Donec ac pellentesque sapien.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button style="background-color: #2D3142; color: #FFF;"> 
                            <i class="fas fa-angle-right" style="color: white;"></i> 
                            See more details</button>
                        <button mat-raised-button>Another options</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-sm-4 ml-2" style="background-color: white; border-radius:10px;">
                Chart area
            </div>
        </div>
    </div>
</div>