.card-wrapper {
    max-width: 350px;
    min-width: 300px;
    display: flex;
    flex-direction: row wrap;
}

igx-card{
    min-width: 250px;
    max-width: 350px;
    margin-right: 20px;
}

.container-title > p{
    font-size: 20px;
}
