<div class="container">
    <div class="container-title text-center">
        <h3>Notification details</h3>
        <hr style="width: 60%; margin:0 auto; margin-top: 15px;">
    </div>

    <div class="container-body">
        <mat-tab-group class="mt-5" style="margin:0 auto; width: 70%;">
            <mat-tab label="Notification message">
                <h5 class="text-center">Received message</h5>
                <hr style="width: 40%; margin: 0 auto; margin-top: 20px; margin-bottom: 0px;">
                <p class="text-center">*Be carefull, this message can contain sensitive informations</p>
                <mat-form-field class="mt-4" appearance="fill" style="width: 100%;">
                    <mat-label>Notification message</mat-label>
                    <textarea matInput id="notificationMessage" readonly style="min-height: 150px;">{{notificationFinalData.message}}</textarea>
                </mat-form-field>
            </mat-tab>
            <mat-tab label="Sender details">
                <div class="container-sender-title">
                    <h5 class="text-center">Sender details</h5>
                    <hr style="width: 40%; margin: 0 auto; margin-top: 20px; margin-bottom: 0px;">
                    <p class="text-center">*Be carefull, this message can contain sensitive informations</p>
                </div>
                <div class="container-sender-details">
                    <ul class="list-group">
                        <li class="list-group-item">Sender complete name: <span style="font-weight: bold;">{{notificationFinalData.admin.firstName}} {{notificationFinalData.admin.lastName}}</span></li>
                        <li class="list-group-item">Sender email address: <span style="font-weight: bold">{{notificationFinalData.admin.email}}</span></li>
                        <li class="list-group-item">Sender current position: <span style="font-weight: bold;">-- To be updated with position name --</span> </li>
                      </ul>
                </div>
            </mat-tab>
            <mat-tab label="Implied subject" *ngIf="notificationFinalData.candidate">
                <div class="container-sender-title">
                    <h5 class="text-center">Subject details</h5>
                    <hr style="width: 40%; margin: 0 auto; margin-top: 20px; margin-bottom: 0px;">
                    <p class="text-center">*Be carefull, this message can contain sensitive informations</p>
                </div>
                <div class="container-sender-details">
                    <ul class="list-group">
                        <li class="list-group-item">Subject complete name:  <span style="font-weight: bold;">{{notificationFinalData.candidate.firstName}} {{notificationFinalData.candidate.lastName}}</span></li>
                        <li class="list-group-item">Subject email address: <span style="font-weight: bold">{{notificationFinalData.candidate.email}}</span></li>
                        <li class="list-group-item">Subject phone number: <span style="font-weight: bold;">{{notificationFinalData.candidate.phoneNumber}}</span></li>
                    </ul>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>